Repository paparazzi/paparazzi, pull requests merged in 2018-07, with the labels that each got.

#2295 [flight_plan] move declaration of automatic var before header section
  sw/tools/generators/gen_flight_plan.ml
Labels: Flight Plan

#2299 [module] add option to digital cam to send second DC_SHOT message
  conf/modules/digital_cam.xml
  sw/airborne/modules/digital_cam/dc.c
Labels: Airborne

#2173 AWB
  conf/airframes/tudelft/bebop_course2018_orangeavoid.xml
  conf/modules/bebop_ae_awb.xml
  sw/airborne/modules/computer_vision/bebop_ae_awb.c
  sw/airborne/modules/computer_vision/bebop_ae_awb.h
Labels: PleaseReviewAndClosePullRequest

#2303 Parrot Disco stage 1 of fixes added
  conf/airframes/OPENUAS/openuas_parrot_disco.xml
  conf/boards/disco.makefile
  conf/flight_plans/OPENUAS/openuas_versatile.xml
  conf/modules/airspeed_ms45xx_i2c.xml
  conf/radios/OPENUAS/openuas_sbus_out.xml
  conf/telemetry/OPENUAS/openuas_fixedwing_imu.xml
  conf/userconf/OPENUAS/openuas_conf.xml
  conf/userconf/OPENUAS/openuas_control_panel.xml
  sw/airborne/arch/sim/max1167_hw.c
  sw/airborne/boards/bebop/actuators.c
  sw/airborne/boards/bebop/mt9v117.c
  sw/airborne/boards/disco.h
  sw/airborne/boards/disco/actuators.c
  sw/airborne/boards/disco/actuators.h
  sw/airborne/boards/disco/baro_board.h
  sw/airborne/boards/disco/board.c
  sw/airborne/modules/loggers/file_logger.c
  sw/airborne/modules/sensors/airspeed_ms45xx_i2c.c
  sw/airborne/modules/sensors/airspeed_ms45xx_i2c.h
  sw/tools/generators/gen_flight_plan.ml
  sw/tools/parrot/disco.py
Labels: Airborne, Enhancement, Fixedwing, Parrot Drones, arch/linux
