Repository paparazzi/paparazzi, pull requests merged in 2018-12, with the labels that each got.

#2366 [generator] warning when unit attribute is used in firmware section
  sw/tools/generators/gen_aircraft.ml
Labels: Build system

#2368 [conf] remove conf failing the CI tests
  conf/userconf/OPENUAS/openuas_conf.xml
  conf/userconf/tudelft/conf.xml
Labels: conf

#2367 [math] fix quat_of_axis functions
  sw/airborne/math/pprz_algebra_float.c
  sw/airborne/math/pprz_algebra_float.h
  sw/airborne/math/pprz_algebra_int.c
  sw/airborne/math/pprz_algebra_int.h
Labels: Airborne, Documentation

#2370 [rc] Fix SBUS initialization synchronising with timeout
  sw/airborne/subsystems/radio_control/sbus_common.c
  sw/airborne/subsystems/radio_control/sbus_common.h
Labels: Airborne
