Repository paparazzi/paparazzi, pull requests merged in 2018-06, with the labels that each got.

#2273 State return fix
  sw/airborne/state.c
Labels: Airborne

#2274 [gcs] add shapes to the background layer to keep WP and A/C on top
  sw/ground_segment/cockpit/shapes.ml
Labels: GCS

#2278 [Linux] Update thread naming
  sw/airborne/arch/linux/mcu_periph/i2c_arch.c
  sw/airborne/arch/linux/mcu_periph/sys_time_arch.c
  sw/airborne/arch/linux/mcu_periph/uart_arch.c
  sw/airborne/arch/linux/mcu_periph/udp_arch.c
  sw/airborne/modules/computer_vision/cv.c
  sw/airborne/modules/computer_vision/lib/v4l/v4l2.c
  sw/airborne/modules/computer_vision/video_thread.c
Labels: arch/linux

#2280 [rotorcraft] update yaw to arm
  sw/airborne/firmwares/rotorcraft/autopilot_arming_yaw.h
Labels: Rotorcraft

#2282 [logging] added ability to give linux file logger a datetime stamp name for convenience
  sw/airborne/modules/loggers/file_logger.c
Labels: Airborne, arch/linux

#2281 [mcu_periph] add full duplex named pipe
  conf/modules/pipe.xml
  sw/airborne/arch/linux/mcu_periph/pipe_arch.c
  sw/airborne/arch/linux/mcu_periph/pipe_arch.h
  sw/airborne/arch/sim/mcu_periph/pipe_arch.c
  sw/airborne/arch/sim/mcu_periph/pipe_arch.h
  sw/airborne/mcu.c
  sw/airborne/mcu_periph/pipe.c
  sw/airborne/mcu_periph/pipe.h
Labels: Airborne, arch/linux
