Repository paparazzi/paparazzi, pull requests merged in 2018-10, with the labels that each got.

#2333 Update multiple python tools
  conf/control_panel_example.xml
  conf/userconf/tudelft/control_panel.xml
  sw/ground_segment/python/atc/atc_frame.py
  sw/ground_segment/python/energy_mon/battery_model.py
  sw/ground_segment/python/energy_mon/energy_mon_viewer.py
  sw/ground_segment/python/svinfo/svinfoviewer.py
  sw/ground_segment/python/wind/wind.png
  sw/ground_segment/python/wind/wind.py
  sw/ground_segment/python/wind/wind_frame.py
Labels: Ground Segment, PleaseReviewAndClosePullRequest

#2345 [fix] some extra warning, error and failing conf fixed
  conf/airframes/tudelft/bebop2_detect_gate_front.xml
  conf/flight_plans/tudelft/rotorcraft_autonomous_drone_race.xml
  conf/userconf/OPENUAS/openuas_conf.xml
  conf/userconf/tudelft/conf.xml
  sw/airborne/modules/computer_vision/detect_contour.c
  sw/airborne/subsystems/actuators/actuators_asctec_v2_new.c
  sw/airborne/subsystems/radio_control/spektrum.c
Labels: conf

#2326 [radio] use DSM2 as default binding protocol
  conf/modules/radio_control_spektrum.xml
  sw/airborne/subsystems/radio_control/spektrum.c
Labels: Airborne

#2346 TUDelft airframes clean-up: a first sweep
  conf/airframes/examples/ardrone2_opticflow_hover.xml
  conf/airframes/tudelft/ardrone2_flip.xml
  conf/airframes/tudelft/ardrone2_indi.xml
  conf/airframes/tudelft/ardrone2_oa_clint_roland.xml
  conf/airframes/tudelft/ardrone2_opticflow.xml
  conf/airframes/tudelft/ardrone2_opticflow_stereo.xml
  conf/airframes/tudelft/ardrone2_optitrack.xml
  conf/airframes/tudelft/asctec_freek.xml
  conf/airframes/tudelft/bebop2_indi.xml
  conf/airframes/tudelft/bebop2_indi_MAVlink.xml
  conf/airframes/tudelft/bebop2_no_damping.xml
  conf/airframes/tudelft/bebop2_optitrack_visionfront.xml
  conf/airframes/tudelft/bebop2_undistort_front.xml
  conf/airframes/tudelft/bebop2_vision.xml
  conf/airframes/tudelft/bebop_OF_hover.xml
  conf/airframes/tudelft/bebop_autonomous_race_2017.xml
  conf/airframes/tudelft/bebop_flip.xml
  conf/airframes/tudelft/bebop_frontcam.xml
  conf/airframes/tudelft/bebop_indi.xml
  conf/airframes/tudelft/bebop_mavlink.xml
  conf/airframes/tudelft/bebop_optitrack.xml
  conf/airframes/tudelft/bs_helidd_indi.xml
  conf/airframes/tudelft/bs_helidd_pid.xml
  conf/airframes/tudelft/cx10.xml
  conf/airframes/tudelft/guido_ardrone2_optitrack.xml
  conf/airframes/tudelft/heli450.xml
  conf/airframes/tudelft/heliGeniusDD.xml
  conf/airframes/tudelft/ladylisa_bluegiga_stereoboard.xml
  conf/airframes/tudelft/logo600.xml
  conf/airframes/tudelft/mavtec1.xml
  conf/airframes/tudelft/mavtec4.xml
  conf/airframes/tudelft/mavtec5.xml
  conf/airframes/tudelft/quadshot_pylons.xml
  conf/airframes/tudelft/selfie.xml
  conf/airframes/tudelft/silverlit_lisas.xml
  conf/airframes/tudelft/splash.xml
  conf/airframes/tudelft/twoseastwenty.xml
  conf/airframes/tudelft/yapa_xsens.xml
  conf/airframes/untested/ardrone2_indi.xml
  conf/airframes/untested/ardrone2_optitrack.xml
  conf/airframes/untested/bebop_indi.xml
  conf/userconf/tudelft/conf.xml
Labels: PleaseReviewAndClosePullRequest

#2287 Fix: In Fixedwing, when RC is lost in MANUAL mode and throttle is red, the motor keeps turning with the last commanded throttle and does not go to RC_LOST_MODE
  sw/airborne/firmwares/fixedwing/autopilot_static.c
  sw/airborne/firmwares/fixedwing/nav.c
Labels: Airborne, Blocking, Fixedwing, PleaseReviewAndClosePullRequest

#2348 Added UMX Sbach342
  conf/userconf/OPENUAS/openuas_conf.xml
Labels: conf

#2344 update PnP:
  sw/airborne/modules/computer_vision/lib/vision/PnP_AHRS.c
Labels: PleaseReviewAndClosePullRequest

#2340 Linear-fit update
  sw/airborne/math/RANSAC.c
  sw/airborne/math/pprz_matrix_decomp_float.c
  sw/airborne/math/pprz_matrix_decomp_float.h
Labels: PleaseReviewAndClosePullRequest

#2337 Spike filter for sonar: e.g. to pass through drone-race gates
  conf/airframes/tudelft/bebop_autonomous_race_2018.xml
  conf/modules/sonar_bebop.xml
  sw/airborne/modules/sonar/sonar_bebop.c
Labels: PleaseReviewAndClosePullRequest
