Repository paparazzi/paparazzi, pull requests merged in 2018-05, with the labels that each got.

#2254 add i2c transaction cue to the linux arch
  sw/airborne/arch/linux/mcu_periph/i2c_arch.c
  sw/airborne/arch/linux/mcu_periph/sys_time_arch.c
  sw/airborne/arch/linux/mcu_periph/uart_arch.c
  sw/airborne/arch/linux/mcu_periph/udp_arch.c
  sw/airborne/boards/ardrone/navdata.c
  sw/airborne/boards/swing/baro_board.c
  sw/airborne/boards/swing/board.c
  sw/airborne/mcu_periph/i2c.c
  sw/airborne/modules/computer_vision/video_thread.c
  sw/airborne/modules/sonar/sonar_bebop.c
Labels: Minor, PleaseReviewAndClosePullRequest, arch/linux

#2259 [python] get air traffic from opensky-network and display in GCS
  conf/control_panel_example.xml
  sw/ground_segment/cockpit/intruders.ml
  sw/ground_segment/python/opensky-network/opensky.py
Labels: GCS, Ground Segment

#2264 [Makefile] extend workaround lablgtk fix to all 2.18 versions
  sw/ground_segment/cockpit/Makefile
Labels: Blocking

#2269 unwrap_pano module for panoramic cameras
  conf/modules/pano_unwrap.xml
  doc/images/airborne/modules/pano_unwrap/pano_unwrap.jpg
  doc/images/airborne/modules/pano_unwrap/unwrapped_derotated.png
  sw/airborne/modules/computer_vision/cv.c
  sw/airborne/modules/pano_unwrap/pano_unwrap.c
  sw/airborne/modules/pano_unwrap/pano_unwrap.h
Labels: Enhancement, Module, computer vision
