Repository paparazzi/paparazzi, pull requests merged in 2018-09, with the labels that each got.

#2324 Snake gate detector
  conf/modules/cv_detect_gate.xml
  conf/userconf/tudelft/conf.xml
  sw/airborne/modules/computer_vision/detect_gate.c
  sw/airborne/modules/computer_vision/detect_gate.h
  sw/airborne/modules/computer_vision/lib/vision/image.c
  sw/airborne/modules/computer_vision/lib/vision/image.h
  sw/airborne/modules/computer_vision/snake_gate_detection.c
  sw/airborne/modules/computer_vision/snake_gate_detection.h
Labels: computer vision

#2330 Gate pose estimator
  conf/modules/cv_detect_gate.xml
  sw/airborne/math/pprz_algebra.h
  sw/airborne/math/pprz_simple_matrix.h
  sw/airborne/modules/computer_vision/detect_gate.c
  sw/airborne/modules/computer_vision/detect_gate.h
  sw/airborne/modules/computer_vision/lib/vision/PnP_AHRS.c
  sw/airborne/modules/computer_vision/lib/vision/PnP_AHRS.h
  sw/airborne/modules/computer_vision/snake_gate_detection.c
  sw/airborne/modules/computer_vision/snake_gate_detection.h
  sw/airborne/subsystems/abi_sender_ids.h
Labels: Airborne, computer vision

#2327 Conf cleaning
  .gitmodules
  .travis.yml
  conf/airframes/ENAC/conf_enac.xml
  conf/airframes/ENAC/fixed-wing/crrcsim.xml
  conf/airframes/ENAC/fixed-wing/funjet2.xml
  conf/airframes/ENAC/fixed-wing/merlin.xml
  conf/airframes/ENAC/fixed-wing/mythe.xml
  conf/airframes/ENAC/fixed-wing/quark1.xml
  conf/airframes/ENAC/quadrotor/ard2_102.xml
  conf/airframes/ENAC/quadrotor/bebop_201.xml
  conf/airframes/ENAC/quadrotor/blender.xml
  conf/airframes/ENAC/quadrotor/ladybird_lisa_s.xml
  conf/conf_example.xml
  conf/conf_tests.xml
  conf/flight_plans/IS.xml
  conf/flight_plans/formation/form_follow.xml
  conf/flight_plans/formation/form_leader.xml
  conf/flight_plans/generic.xml
  conf/flight_plans/legacy/corsica.xml
  conf/flight_plans/legacy/corsica_sectors.xml
  conf/flight_plans/legacy/creidlitz.xml
  conf/flight_plans/legacy/fp_tp_auto.xml
  conf/flight_plans/legacy/grosslobke_demo.xml
  conf/flight_plans/legacy/grosslobke_kreise.xml
  conf/flight_plans/legacy/grosslobke_start.xml
  conf/flight_plans/legacy/ingolfsskali.xml
  conf/flight_plans/legacy/kalscott.xml
  conf/flight_plans/legacy/muret_demo_1.xml
  conf/flight_plans/legacy/muret_for.xml
  conf/flight_plans/legacy/nordlys.xml
  conf/flight_plans/legacy/quadshot_land_takeoff_again.xml
  conf/flight_plans/legacy/rotorcraft_krooz.xml
  conf/flight_plans/legacy/rotorcraft_oa_avoid.xml
  conf/flight_plans/legacy/slayer_training.xml
  conf/flight_plans/legacy/versatile_carto_fixe_muret.xml
  conf/flight_plans/xsens_cachejunction.xml
  conf/modules/enose.xml
  conf/modules/pbn.xml
  sw/airborne/arch/sim/modules/enose/sim_enose.c
  sw/airborne/boards/pc_sim.h
  sw/airborne/modules/enose/anemotaxis.c
  sw/airborne/modules/enose/anemotaxis.h
  sw/airborne/modules/enose/chemo_detect.c
  sw/airborne/modules/enose/chemo_detect.h
  sw/airborne/modules/enose/chemotaxis.c
  sw/airborne/modules/enose/chemotaxis.h
  sw/airborne/modules/enose/enose.c
  sw/airborne/modules/enose/enose.h
  sw/airborne/modules/sensors/pressure_board_navarro.c
  sw/airborne/modules/sensors/pressure_board_navarro.h
  sw/airborne/subsystems/abi_sender_ids.h
Labels: conf
