Repository paparazzi/paparazzi, pull requests merged in 2019-03, with the labels that each got.

#2401 [boards] Fix PX4FMu ADC defaults
  sw/airborne/boards/px4fmu/chibios/v4.0/px4fmu.h
Labels: Airborne, Minor

#2403 [tests] Fix unneeded warnings for test build
  conf/airframes/AGGIEAIR/aggieair_iris_indi.xml
  conf/airframes/ENAC/fixed-wing/jp.xml
  conf/airframes/examples/quadrotor_navstik.xml
  conf/airframes/tudelft/logo600.xml
  sw/airborne/math/pprz_matrix_decomp_float.c
  sw/airborne/modules/fsae_electric/vms_ecu_demo.c
Labels: Minor

#2406 [driver] add BMP3 (Bosh-Sensortech) baro driver
  conf/modules/baro_bmp3.xml
  sw/airborne/modules/sensors/baro_bmp3.c
  sw/airborne/modules/sensors/baro_bmp3.h
  sw/airborne/peripherals/bmp3_i2c.c
  sw/airborne/peripherals/bmp3_i2c.h
  sw/airborne/peripherals/bmp3_regs.h
  sw/airborne/subsystems/abi_sender_ids.h
Labels: Airborne, Driver, Module

#2409 [Tools] Blacklisted tools copied from blacklisted_example.
  Makefile
  conf/tools/blacklisted_example
Labels: Build system

#2411 Fixed ACT corner bug
  sw/airborne/modules/computer_vision/lib/vision/act_fast.c
  sw/airborne/modules/computer_vision/opticflow/opticflow_calculator.c
  sw/airborne/modules/computer_vision/opticflow/opticflow_calculator.h
Labels: Airborne, Module, TestingRequired, arch/linux, computer vision
