Repository paparazzi/paparazzi, pull requests merged in 2019-02, with the labels that each got.

#2373 [python] added explicit pyhton2 binding where ambiguous
  start.py
  sw/airborne/modules/loggers/logger_uart_parse.py
  sw/ground_segment/python/fc_rotor/fc_rotor.py
  sw/ground_segment/python/joystick/ivydanger.py
  sw/ground_segment/python/udp_link/datalink_to_w5100.py
  sw/ground_segment/python/udp_link/proxy_udp_multicast_to_link.py
  sw/ground_segment/tmtc/pprzlink_proxy.py
  sw/logalizer/sdlogger_get_setting_id.py
  sw/misc/attitude_reference/pat/utils.py
  sw/simulator/mesonh/mesonh.py
  sw/tools/airframe_editor/airframe_editor.py
  sw/tools/airframe_editor/gui_dialogs.py
  sw/tools/iridium/iridium_link.py
  sw/tools/parrot/parrot_utils.py
  sw/tools/px4/set_target.py
  sw/tools/stm32loader/stm32loader.py
  tests/test_python3_compatibility.py
Labels: Minor, Portability

#2393 [fix] define ffd gain for quat_int stabilization
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_attitude_quat_int.c
Labels: Airborne

#2395 [modules] Add TFMini lidar
  conf/airframes/tudelft/splash3.xml
  conf/modules/lidar_tfmini.xml
  conf/telemetry/default_rotorcraft.xml
  conf/userconf/tudelft/conf.xml
  sw/airborne/modules/lidar/tfmini.c
  sw/airborne/modules/lidar/tfmini.h
  sw/airborne/subsystems/abi_sender_ids.h
Labels: Airborne, Driver, Module
