Repository paparazzi/paparazzi, pull requests merged in 2019-06, with the labels that each got.

#2433 Improved automated python tools for maintenance
  start.py
  sw/lib/python/paparazzi.py
  sw/lib/python/paparazzi_health.py
Labels: Ground Segment

#2383 [nps][bebop] update gazebo sim camera
  conf/airframes/tudelft/bebop_course2018_orangeavoid.xml
  conf/modules/bebop_cam.xml
  conf/simulator/gazebo/airframes/bebop.xml
  conf/simulator/gazebo/models/bebop/bebop.sdf
  conf/simulator/gazebo/models/bebop2/bebop2.sdf
  conf/simulator/gazebo/models/bebop2_with_slamdunk/bebop2_with_slamdunk.sdf
  conf/userconf/tudelft/conf.xml
  conf/userconf/tudelft/course2018_conf.xml
  sw/airborne/boards/bebop.h
  sw/airborne/boards/bebop/isp/libisp_config.h
  sw/airborne/boards/bebop/mt9f002.c
  sw/airborne/boards/bebop/mt9f002.h
  sw/airborne/boards/bebop/mt9f002_nps.c
  sw/airborne/boards/bebop/mt9v117.c
  sw/airborne/boards/bebop/mt9v117.h
  sw/airborne/boards/bebop/mt9v117_nps.c
  sw/airborne/boards/bebop/mt9v117_regs.h
  sw/airborne/modules/computer_vision/lib/vision/image.c
  sw/airborne/modules/computer_vision/lib/vision/image.h
  sw/airborne/modules/computer_vision/lib/vision/lucas_kanade.c
  sw/airborne/modules/computer_vision/opticflow/opticflow_calculator.c
  sw/airborne/modules/computer_vision/opticflow/opticflow_calculator.h
  sw/airborne/modules/computer_vision/opticflow/size_divergence.c
  sw/airborne/modules/computer_vision/opticflow_module.c
  sw/airborne/modules/computer_vision/video_thread_nps.c
  sw/simulator/nps/nps_fdm_gazebo.cpp
Labels: PleaseReviewAndClosePullRequest, Simulation

#2437 LSM6DS33 (gyro/accel) and LPS25H (baro) drivers
  sw/airborne/peripherals/lps25h.h
  sw/airborne/peripherals/lps25h_i2c.c
  sw/airborne/peripherals/lps25h_i2c.h
  sw/airborne/peripherals/lps25h_regs.h
  sw/airborne/peripherals/lsm6ds33.h
  sw/airborne/peripherals/lsm6ds33_i2c.c
  sw/airborne/peripherals/lsm6ds33_i2c.h
  sw/airborne/peripherals/lsm6ds33_regs.h
Labels: Airborne, Driver

#2431 [python] add small tool to get A/C conf from server
  sw/lib/python/pprz_connect.py
Labels: Ground Segment

#2441 [python] fix natnet3 speed filter
  sw/ground_segment/python/natnet3.x/natnet2ivy.py
Labels: Ground Segment, bug

#2419 Tawaki board integration
  conf/boards/tawaki_1.0.makefile
  conf/firmwares/test_chibios.makefile
  conf/flash_modes.xml
  conf/modules/board_tawaki.xml
  conf/modules/logger_sd_chibios.xml
  sw/airborne/arch/chibios/halconf.h
  sw/airborne/arch/chibios/led_hw.h
  sw/airborne/arch/chibios/mcu_periph/i2c_arch.c
  sw/airborne/arch/chibios/mcu_periph/i2c_arch.h
  sw/airborne/arch/chibios/mcu_periph/spi_arch.c
  sw/airborne/boards/tawaki/baro_board.h
  sw/airborne/boards/tawaki/chibios/v1.0/Makefile
  sw/airborne/boards/tawaki/chibios/v1.0/board.c
  sw/airborne/boards/tawaki/chibios/v1.0/board.h
  sw/airborne/boards/tawaki/chibios/v1.0/board.mk
  sw/airborne/boards/tawaki/chibios/v1.0/ffconf.h
  sw/airborne/boards/tawaki/chibios/v1.0/mcuconf.h
  sw/airborne/boards/tawaki/chibios/v1.0/tawaki.cfg
  sw/airborne/boards/tawaki/chibios/v1.0/tawaki.h
  sw/airborne/mcu.c
  sw/airborne/mcu_periph/i2c.c
  sw/airborne/mcu_periph/i2c.h
  sw/airborne/mcu_periph/spi.c
  sw/airborne/mcu_periph/spi.h
  sw/airborne/modules/sensors/baro_bmp3.c
  sw/airborne/peripherals/mpu60x0.c
  sw/airborne/peripherals/mpu60x0.h
  sw/airborne/peripherals/mpu60x0_regs.h
  sw/airborne/peripherals/mpu60x0_spi.c
  sw/airborne/subsystems/imu/imu_mpu6000.c
Labels: Airborne, ChibiOS, Driver, STM32

#2435 [module] WS2812 led module
  conf/modules/light_scheduler.xml
  sw/airborne/arch/chibios/modules/light/light_ws2812_arch.c
  sw/airborne/arch/chibios/modules/light/light_ws2812_arch.h
  sw/airborne/boards/apogee/chibios/v1.0/board.h
  sw/airborne/boards/apogee/chibios/v1.0/mcuconf.h
  sw/airborne/modules/light/light_scheduler.c
  sw/airborne/modules/light/light_scheduler.h
Labels: Airborne, ChibiOS, Driver, Module
