Repository paparazzi/paparazzi, pull requests merged in 2019-05, with the labels that each got.

#2421 [airborne] Fix yaw arming
  sw/airborne/firmwares/rotorcraft/autopilot_arming_yaw.h
Labels: Airborne, Rotorcraft

#2424 [periph] configurable stack size for UART, I2C and SPI
  sw/airborne/arch/chibios/mcu_periph/i2c_arch.c
  sw/airborne/arch/chibios/mcu_periph/spi_arch.c
  sw/airborne/arch/chibios/mcu_periph/uart_arch.c
Labels: Airborne, ChibiOS

#2423 [filter] set default freq for 1euro filter
  sw/airborne/modules/imu/filter_1euro_imu.c
Labels: Airborne

#2418 [rotorcraft] don't reset vertical ref in guided mode
  sw/airborne/firmwares/rotorcraft/guidance/guidance_v.c
Labels: Airborne, Rotorcraft

#2434 [ocaml] add special keyword to avoid conflict with XML invalid characters
  conf/flight_plans/basic.xml
  sw/lib/ocaml/expr_lexer.mll
  sw/lib/ocaml/expr_parser.mly
Labels: Build system, Flight Plan
