Repository paparazzi/paparazzi, pull requests merged in 2020-12, with the labels that each got.

#2625 [fix] fix DSHOT driver and corresponding boards
  conf/boards/tawaki_common.makefile
  sw/airborne/arch/chibios/mcu_periph/hal_stm32_dma.c
  sw/airborne/arch/chibios/mcu_periph/hal_stm32_dma.h
  sw/airborne/arch/chibios/modules/actuators/actuators_dshot_arch.c
  sw/airborne/arch/chibios/modules/actuators/esc_dshot.c
  sw/airborne/arch/chibios/modules/actuators/esc_dshot.h
  sw/airborne/boards/apogee/chibios/v1.0/board.h
  sw/airborne/boards/tawaki/chibios/common/tawaki.h
Labels: Airborne, ChibiOS

#2624 [board] add nucleo144 dev board
  conf/airframes/ENAC/nucleo144_test.xml
  conf/boards/nucleo144_f767zi.makefile
  conf/flash_modes.xml
  sw/airborne/boards/nucleo/144_f767zi/Makefile
  sw/airborne/boards/nucleo/144_f767zi/board.c
  sw/airborne/boards/nucleo/144_f767zi/board.h
  sw/airborne/boards/nucleo/144_f767zi/board.mk
  sw/airborne/boards/nucleo/144_f767zi/mcuconf.h
  sw/airborne/boards/nucleo/144_f767zi/nucleo144_f767zi.cfg
  sw/airborne/boards/nucleo/144_f767zi/nucleo144_f767zi.h
Labels: Airborne, conf

#2623 [fix] log plotter not crashing with ubuntu 20.4 in debug mode
  sw/Makefile.ocaml
Labels: bug

#2605 SPI SD Logger updates
  conf/modules/logger_sd_spi_direct.xml
  sw/airborne/modules/loggers/sdlogger_spi_direct.c
  sw/lib/python/settings_xml_parse.py
  sw/logalizer/sdlogger_download.c
Labels: Enhancement, Module

#2630 [module] fix formation flight module and load from flight plan
  conf/flight_plans/formation/form_follow.xml
  conf/flight_plans/formation/form_leader.xml
  sw/airborne/modules/multi/formation.h
Labels: Airborne, Fixedwing, Module, bug

#2628 [doc] Adds ABI page to sphinx doc.
  doc/sphinx/source/developer_guide/abi.rst
  doc/sphinx/source/developer_guide/index_developer.rst
Labels: Documentation

#2633 Fix pwm index
  sw/airborne/boards/nucleo/144_f767zi/nucleo144_f767zi.h
  sw/airborne/boards/tawaki/chibios/common/tawaki.h
Labels: Airborne, bug
