Repository paparazzi/paparazzi, pull requests merged in 2020-03, with the labels that each got.

#2493 Small features
  conf/Makefile.chibios
  conf/settings/power_switch.xml
  sw/airborne/boards/apogee/chibios/v1.0/board.h
  sw/airborne/subsystems/navigation/common_nav.c
  sw/airborne/subsystems/navigation/common_nav.h
  sw/ground_segment/cockpit/page_settings.ml
Labels: Airborne, conf

#2494 [datalink] parse the correct datalink buffer
  conf/modules/collective_tracking_control.xml
  conf/modules/collective_tracking_control_target.xml
  conf/modules/digital_cam_i2c.xml
  conf/modules/distributed_circular_formation.xml
  conf/modules/fc_rotor.xml
  conf/modules/formation_flight.xml
  conf/modules/gps_datalink.xml
  conf/modules/joystick.xml
  conf/modules/meteo_france_DAQ.xml
  conf/modules/mission_fw.xml
  conf/modules/mission_rotorcraft.xml
  conf/modules/rotorcraft_cam.xml
  conf/modules/rssi.xml
  conf/modules/tcas.xml
  conf/modules/traffic_info.xml
  conf/modules/vehicle_interface_datalink.xml
  sw/airborne/modules/cam_control/rotorcraft_cam.h
  sw/airborne/modules/digital_cam/atmega_i2c_cam_ctrl.h
  sw/airborne/modules/joystick/joystick.c
  sw/airborne/modules/joystick/joystick.h
  sw/airborne/modules/meteo/meteo_france_DAQ.c
  sw/airborne/modules/meteo/meteo_france_DAQ.h
  sw/airborne/modules/mission/mission_common.c
  sw/airborne/modules/mission/mission_common.h
  sw/airborne/modules/multi/ctc/ctc.c
  sw/airborne/modules/multi/ctc/ctc.h
  sw/airborne/modules/multi/ctc/ctc_target.c
  sw/airborne/modules/multi/ctc/ctc_target.h
  sw/airborne/modules/multi/dcf/dcf.c
  sw/airborne/modules/multi/dcf/dcf.h
  sw/airborne/modules/multi/fc_rotor/fc_rotor.c
  sw/airborne/modules/multi/fc_rotor/fc_rotor.h
  sw/airborne/modules/multi/formation.h
  sw/airborne/modules/multi/rssi.c
  sw/airborne/modules/multi/rssi.h
  sw/airborne/modules/multi/tcas.c
  sw/airborne/modules/multi/tcas.h
  sw/airborne/modules/multi/traffic_info.c
  sw/airborne/modules/multi/traffic_info.h
  sw/airborne/subsystems/gps/gps_datalink.c
  sw/airborne/subsystems/gps/gps_datalink.h
Labels: Airborne, Major, Module, bug

#2496 [mag] Add IST8310 magnetometer
  conf/modules/mag_ist8310.xml
  sw/airborne/modules/sensors/mag_ist8310.c
  sw/airborne/modules/sensors/mag_ist8310.h
  sw/airborne/peripherals/ist8310.c
  sw/airborne/peripherals/ist8310.h
  sw/airborne/peripherals/ist8310_regs.h
Labels: Airborne, Driver

#2492 [fix] datalink_time is currently set to zero even for non-telemetry link
  sw/airborne/arch/sim/sim_ap.c
  sw/airborne/modules/datalink/bluegiga_dl.c
  sw/airborne/modules/datalink/extra_pprz_dl.c
  sw/airborne/modules/datalink/gec_dl.c
  sw/airborne/modules/datalink/pprz_dl.c
  sw/airborne/modules/datalink/xbee_dl.c
  sw/airborne/subsystems/datalink/datalink.h
  sw/airborne/subsystems/datalink/superbitrf.c
  sw/airborne/subsystems/datalink/w5100.h
Labels: Airborne, bug

#2504 [fix] split the sweep variable and let each module use its own
  conf/modules/gvf_module.xml
  conf/modules/nav_basic_fw.xml
  sw/airborne/firmwares/fixedwing/nav.c
  sw/airborne/firmwares/fixedwing/nav.h
  sw/airborne/modules/guidance/gvf/nav/nav_survey_polygon_gvf.c
  sw/airborne/modules/guidance/gvf/nav/nav_survey_polygon_gvf.h
  sw/airborne/modules/nav/nav_survey_poly_osam.c
  sw/airborne/modules/nav/nav_survey_poly_rotorcraft.c
  sw/airborne/modules/nav/nav_survey_poly_rotorcraft.h
  sw/airborne/subsystems/navigation/nav_survey_rectangle.c
  sw/airborne/subsystems/navigation/nav_survey_rectangle.h
Labels: Airborne, bug

#2506 [hardware] Add Pixhawk 4 autopilot
  conf/airframes/tudelft/mentor.xml
  conf/boards/px4fmu_5.0_chibios.makefile
  conf/boards/px4io_2.4.makefile
  conf/firmwares/subsystems/shared/baro_board.makefile
  conf/flash_modes.xml
  conf/userconf/tudelft/conf.xml
  sw/airborne/arch/chibios/STM32F76xxI.ld
  sw/airborne/arch/chibios/chconf.h
  sw/airborne/boards/px4fmu/chibios/v5.0/Makefile
  sw/airborne/boards/px4fmu/chibios/v5.0/board.c
  sw/airborne/boards/px4fmu/chibios/v5.0/board.cfg
  sw/airborne/boards/px4fmu/chibios/v5.0/board.h
  sw/airborne/boards/px4fmu/chibios/v5.0/board.mk
  sw/airborne/boards/px4fmu/chibios/v5.0/ffconf.h
  sw/airborne/boards/px4fmu/chibios/v5.0/mcuconf.h
  sw/airborne/boards/px4fmu/chibios/v5.0/px4fmu.h
  sw/airborne/boards/px4fmu_2.4.h
Labels: Airborne, ChibiOS

#2508 [ctrl] Fix gain scheduling warning with FFD gain
  conf/modules/gain_scheduling.xml
  sw/airborne/modules/ctrl/gain_scheduling.c
Labels: Airborne, Rotorcraft
