Repository paparazzi/paparazzi, pull requests merged in 2020-09, with the labels that each got.

#2571 [bebop] improve network script
  sw/tools/parrot/bebop.py
  sw/tools/parrot/bebop/pprz.conf
  sw/tools/parrot/bebop/pprzstarter
  sw/tools/parrot/parrot_utils.py
Labels: Enhancement, Not a defect, Parrot Drones, PleaseReviewAndClosePullRequest

#2577 Fix various (second batch)
  Makefile.ac
  conf/boards/chimera_1.0.makefile
  conf/boards/tawaki_common.makefile
  conf/chibios/chibios_rules.mk
  sw/airborne/arch/chibios/modules/actuators/esc_dshot.c
  sw/airborne/modules/loggers/sdlog_chibios.c
  sw/airborne/subsystems/ahrs/ahrs_float_dcm.c
  sw/airborne/subsystems/ahrs/ahrs_float_utils.h
Labels: Airborne, Build system, ChibiOS

#2580 Protect quat to euler conversion for NaN
  sw/airborne/math/pprz_algebra_float.c
  sw/airborne/math/pprz_algebra_int.c
Labels: Airborne

#2581 [fix] check FP and AP modules for correct firmware
  sw/lib/ocaml/aircraft.ml
Labels: Build system

#2578 Added sensor for using TFMini via I2C port
  conf/modules/lidar_tfmini_i2c.xml
  sw/airborne/modules/lidar/tfmini_i2c.c
  sw/airborne/modules/lidar/tfmini_i2c.h
  sw/airborne/subsystems/abi_sender_ids.h
Labels: Airborne, Driver, Module, Not a defect, PleaseReviewAndClosePullRequest

#2579 [Joystick] Add option to wait for an event on all axis to start.
  sw/ground_segment/joystick/input2ivy.ml
  sw/ground_segment/joystick/ml_sdl_stick.c
  sw/ground_segment/joystick/sdl_stick.c
  sw/ground_segment/joystick/sdl_stick.h
Labels: Enhancement, Ground Segment, Not a defect, PleaseReviewAndClosePullRequest

#2582 [generator] generate the number of telemetry processes
  sw/tools/generators/gen_periodic.ml
Labels: Build system

#2559 GVF Parametric
  conf/flight_plans/demo_gvf.xml
  conf/modules/gvf_parametric.xml
  conf/telemetry/default_fixedwing_gvf.xml
  sw/airborne/modules/guidance/gvf/gvf.c
  sw/airborne/modules/guidance/gvf/gvf.h
  sw/airborne/modules/guidance/gvf_parametric/gvf_parametric.cpp
  sw/airborne/modules/guidance/gvf_parametric/gvf_parametric.h
  sw/airborne/modules/guidance/gvf_parametric/gvf_parametric_low_level_control.c
  sw/airborne/modules/guidance/gvf_parametric/gvf_parametric_low_level_control.h
  sw/airborne/modules/guidance/gvf_parametric/trajectories/gvf_parametric_2d_trefoil.c
  sw/airborne/modules/guidance/gvf_parametric/trajectories/gvf_parametric_2d_trefoil.h
  sw/airborne/modules/guidance/gvf_parametric/trajectories/gvf_parametric_3d_ellipse.c
  sw/airborne/modules/guidance/gvf_parametric/trajectories/gvf_parametric_3d_ellipse.h
  sw/airborne/modules/guidance/gvf_parametric/trajectories/gvf_parametric_3d_lissajous.c
  sw/airborne/modules/guidance/gvf_parametric/trajectories/gvf_parametric_3d_lissajous.h
  sw/ground_segment/python/gvf/gvf_parametric_3d_lissa_sim.py
  sw/ground_segment/python/gvf/gvfframe.py
Labels: Airborne, Module

#2585 [nav] selectable navigation functions from flight plan
  conf/flight_plans/flight_plan.dtd
  sw/tools/generators/gen_flight_plan.ml
Labels: Build system, Flight Plan

#2586 [GDB] New gdb name for ARM.
  conf/Makefile.arm-embedded-toolchain
  conf/Makefile.arm-linux-toolchain
  conf/Makefile.chibios
Labels: Build system
