Repository paparazzi/paparazzi, pull requests merged in 2020-04, with the labels that each got.

#2515 [gps] fix typo
  sw/airborne/subsystems/gps/gps_ubx.c
Labels: Airborne, Driver

#2514 Add software-I2C
  conf/firmwares/demo.makefile
  conf/firmwares/rotorcraft.makefile
  conf/firmwares/rover.makefile
  conf/firmwares/subsystems/fixedwing/autopilot.makefile
  conf/modules/i2c.xml
  sw/airborne/arch/chibios/mcu_periph/i2c_arch.c
  sw/airborne/arch/linux/mcu_periph/i2c_arch.c
  sw/airborne/arch/lpc21/mcu_periph/i2c_arch.c
  sw/airborne/arch/sim/mcu_periph/gpio_arch.h
  sw/airborne/arch/sim/mcu_periph/i2c_arch.c
  sw/airborne/arch/stm32/mcu_periph/i2c_arch.c
  sw/airborne/mcu.c
  sw/airborne/mcu_periph/i2c.c
  sw/airborne/mcu_periph/i2c.h
  sw/airborne/mcu_periph/softi2c.c
  sw/airborne/mcu_periph/softi2c.h
Labels: Driver, Enhancement, TestingRequired

#2520 [jsbsim] support of more recent jsbsim versions
  conf/modules/fdm_jsbsim.xml
  sw/simulator/nps/nps_fdm_jsbsim.cpp
Labels: Build system, Simulation

#2523 WLS VLA
  conf/airframes/tudelft/bebop_indi_actuators.xml
  conf/modules/stabilization_indi.xml
  conf/simulator/jsbsim/aircraft/bebop.xml
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_indi.c
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_indi.h
  sw/airborne/firmwares/rotorcraft/stabilization/wls/wls_alloc.c
  sw/airborne/firmwares/rotorcraft/stabilization/wls/wls_alloc.h
  sw/airborne/test/Makefile
  sw/airborne/test/test_alloc.c
Labels: Airborne

#2524 Multi ranger deck integration
  conf/airframes/ENAC/quadrotor/crazyflie_2.1.xml
  conf/modules/cf_deck_multi_ranger.xml
  conf/modules/range_forcefield.xml
  conf/modules/sonar_vl53l1x.xml
  sw/airborne/modules/datalink/bitcraze/syslink_dl.c
  sw/airborne/modules/range_finder/cf_deck_multi_ranger.c
  sw/airborne/modules/range_finder/cf_deck_multi_ranger.h
  sw/airborne/modules/sonar/sonar_vl53l1x.c
  sw/airborne/modules/sonar/sonar_vl53l1x.h
  sw/airborne/peripherals/bmi088.h
  sw/airborne/peripherals/pca95x4.c
  sw/airborne/peripherals/pca95x4.h
  sw/airborne/peripherals/vl53l1_platform.h
  sw/airborne/peripherals/vl53l1x_api.c
  sw/airborne/peripherals/vl53l1x_api.h
  sw/airborne/peripherals/vl53l1x_nonblocking.c
  sw/airborne/peripherals/vl53l1x_nonblocking.h
Labels: Airborne, Rotorcraft, bug
