Repository paparazzi/paparazzi, pull requests merged in 2020-10, with the labels that each got.

#2584 [stm32] add support of TIM9 and TIM12 for PPM input
  sw/airborne/arch/stm32/subsystems/radio_control/ppm_arch.c
Labels: Airborne, STM32

#2598 [fix] use aligned_alloc only if glibc >= 2.16
  sw/airborne/modules/computer_vision/lib/vision/image.c
Labels: Airborne, bug, computer vision

#2592 [Python libs] Start python settings and flight plan libs.
  sw/lib/python/flight_plan.py
  sw/lib/python/settings.py
  sw/lib/python/xml_utils.py
Labels: Enhancement, Ground Segment, pprzlink

#2596 [board] make the Tawaki header file more generic
  sw/airborne/boards/tawaki/chibios/common/tawaki.h
  sw/airborne/boards/tawaki/chibios/v1.0/board.h
  sw/airborne/boards/tawaki/chibios/v1.0/tawaki_1.0.cfg
  sw/airborne/boards/tawaki/chibios/v1.1/board.h
  sw/airborne/boards/tawaki/chibios/v1.1/tawaki_1.1.cfg
Labels: Airborne, ChibiOS, board config

#2604 [fix] parse correctly settings with names
  sw/lib/ocaml/aircraft.ml
Labels: Build system, bug
