Repository paparazzi/paparazzi, pull requests merged in 2021-03, with the labels that each got.

#2672 [build] batch of fixes from CI errors and warnings
  conf/airframes/ENAC/quadrotor/crazyflie_2.1.xml
  conf/airframes/tudelft/guido_conf.xml
  conf/modules/control.xml
  conf/modules/nav_skid_landing.xml
  conf/modules/opticflow_pmw3901.xml
  conf/modules/stabilization_indi.xml
  conf/modules/stabilization_rate_indi.xml
  conf/userconf/tudelft/conf.xml
  conf/userconf/tudelft/delfly_conf.xml
  sw/airborne/modules/computer_vision/colorfilter.c
  sw/airborne/modules/computer_vision/detect_gate.c
  sw/airborne/modules/computer_vision/video_capture.c
  sw/airborne/modules/computer_vision/viewvideo.c
  sw/airborne/modules/ctrl/optical_flow_landing.c
  sw/airborne/modules/lidar/tfmini.c
  sw/airborne/modules/optical_flow/px4flow.c
  sw/airborne/modules/optical_flow/px4flow_i2c.c
Labels: conf

#2674 [build] split subdirs rules
  Makefile
  conf/Makefile.arm-embedded-toolchain
  conf/Makefile.lpc21
Labels: Build system, Enhancement

#2675 [build] second batch of corrections from semaphore CI errors and warnings
  conf/airframes/ENAC/conf_enac.xml
  conf/flight_plans/ENAC/crazyflie_multi_ranger_test.xml
  conf/userconf/tudelft/conf.xml
  conf/userconf/tudelft/mk_conf.xml
  sw/airborne/modules/computer_vision/cv_detect_color_object.c
  sw/airborne/modules/computer_vision/undistort_image.c
  sw/airborne/modules/ctrl/optical_flow_hover.c
  sw/airborne/modules/wedgebug/wedgebug.c
  sw/airborne/modules/wedgebug/wedgebug.h
Labels: conf

#2678 [examples] migrate modules from deprecated "modules" node to "firmware".
  conf/airframes/examples/MentorEnergy.xml
  conf/airframes/examples/Twinstar_energyadaptive.xml
  conf/airframes/examples/ardrone2.xml
  conf/airframes/examples/bebop2_ukf_magnetometer_calibration.xml
  conf/airframes/examples/bixler_lisa_m_2.xml
  conf/airframes/examples/bumblebee_quad.xml
  conf/airframes/examples/krooz_sd_quad_mkk.xml
  conf/airframes/examples/ladybird_lisa_s.xml
  conf/airframes/examples/ladybird_lisa_s_bluegiga.xml
  conf/airframes/examples/lisa_l_chimu.xml
  conf/airframes/examples/microjet_imu_xsens.xml
  conf/airframes/examples/microjet_lisa_m.xml
  conf/airframes/examples/microjet_lisa_m_xsens.xml
  conf/airframes/examples/microjet_twog_aspirin.xml
  conf/airframes/examples/quadrotor_elle0.xml
  conf/airframes/examples/quadrotor_hbmini.xml
  conf/airframes/examples/quadrotor_lisa_m_2_pwm_spektrum.xml
  conf/airframes/examples/quadrotor_lisa_mx.xml
  conf/airframes/examples/quadrotor_lisa_s.xml
  conf/airframes/examples/quadrotor_navgo.xml
  conf/airframes/examples/quadrotor_navstik.xml
  conf/airframes/examples/quadshot_178_pylons.xml
  conf/airframes/examples/quadshot_asp21_FutabaPPMonUart1.xml
  conf/airframes/examples/quadshot_asp21_spektrum.xml
  conf/airframes/examples/separate_fbw_ap.xml
  conf/airframes/examples/twinjet.xml
  conf/airframes/examples/twog_analogimu.xml
  conf/airframes/examples/yapaChimuSpi.xml
Labels: conf

#2680 [fix] third batch of CI fix
  conf/userconf/OPENUAS/openuas_obc2014_conf.xml
  conf/userconf/tudelft/ralphthesis2020_conf.xml
  sw/airborne/modules/ctrl/optical_flow_hover.c
Labels: conf

#2679 [docker] make it possible to disable X server access.
  docker/run.sh
Labels: Enhancement

#2681 [rtos_mon] fix free stack function
  conf/Makefile.chibios
  sw/airborne/arch/chibios/modules/core/rtos_mon_arch.c
Labels: Airborne, ChibiOS
