Repository paparazzi/paparazzi, pull requests merged in 2021-04, with the labels that each got.

#2685 [build] use proper GDB according to prefix
  conf/Makefile.arm-embedded-toolchain
  conf/Makefile.arm-linux-toolchain
Labels: Build system

#2684 [build] output flags in orginal order
  sw/tools/generators/gen_makefile.ml
Labels: Build system

#2683 [fix] remove all ref to UPDATE_ON_AGL for sonar
  conf/airframes/AGGIEAIR/aggieair_iris_indi.xml
  conf/airframes/BR/bebop_default.xml
  conf/airframes/BR/bebop_indi.xml
  conf/airframes/BR/bebop_indi_frog.xml
  conf/airframes/CDW/cdw_bebop.xml
  conf/airframes/ENAC/quadrotor/ard2_base_control.xml
  conf/airframes/ENAC/quadrotor/bebop2_fish.xml
  conf/airframes/ENAC/quadrotor/bebop2_fish_outdoor.xml
  conf/airframes/MM/bebop.xml
  conf/airframes/MM/bebop2_lum1_xbee.xml
  conf/airframes/OPENUAS/openuas_3dr_iris_plus.xml
  conf/airframes/OPENUAS/openuas_bitcraze_crazyflie_2_1.xml
  conf/airframes/OPENUAS/openuas_durafly_g2.xml
  conf/airframes/OPENUAS/openuas_eflite_t28.xml
  conf/airframes/OPENUAS/openuas_multiplex_minimag.xml
  conf/airframes/OPENUAS/openuas_parrot_ardrone_2.xml
  conf/airframes/OPENUAS/openuas_parrot_bebop.xml
  conf/airframes/OPENUAS/openuas_parrot_bebop_2.xml
  conf/airframes/OPENUAS/openuas_transitionrobotics_quadshot.xml
  conf/airframes/examples/ardrone2.xml
  conf/airframes/examples/ardrone2_gazebo.xml
  conf/airframes/examples/ardrone2_opticflow_hover.xml
  conf/airframes/examples/bebop.xml
  conf/airframes/examples/bebop2_indi.xml
  conf/airframes/examples/bebop2_opticflow.xml
  conf/airframes/examples/bebop2_ukf_magnetometer_calibration.xml
  conf/airframes/examples/swing.xml
  conf/airframes/tudelft/ardrone2_indi.xml
  conf/airframes/tudelft/ardrone2_opticflow.xml
  conf/airframes/tudelft/bebop2_detect_gate_front.xml
  conf/airframes/tudelft/bebop2_indi.xml
  conf/airframes/tudelft/bebop2_no_damping.xml
  conf/airframes/tudelft/bebop2_opticflow.xml
  conf/airframes/tudelft/bebop2_optitrack.xml
  conf/airframes/tudelft/bebop2_optitrack_visionfront.xml
  conf/airframes/tudelft/bebop2_undistort_front.xml
  conf/airframes/tudelft/bebop_OF_hover.xml
  conf/airframes/tudelft/bebop_autonomous_race_2018.xml
  conf/airframes/tudelft/bebop_course_orangeavoid.xml
  conf/airframes/tudelft/bebop_course_orangeavoid_guided.xml
  conf/airframes/tudelft/bebop_flip.xml
  conf/airframes/tudelft/bebop_indi.xml
  conf/airframes/tudelft/bebop_indi_actuators.xml
  conf/airframes/tudelft/bebop_mavlink.xml
  conf/airframes/tudelft/bebop_opticflow.xml
  conf/airframes/tudelft/bebop_opticflow_indoor.xml
  conf/airframes/tudelft/bebop_ralphthesis2020_stereo.xml
  conf/airframes/tudelft/fan_demo.xml
  conf/airframes/tudelft/iris_indi.xml
  conf/airframes/tudelft/origami_lisamxs_wifi_indi_stereoboard.xml
  conf/airframes/tudelft/robird.xml
  conf/airframes/tudelft/splash.xml
  sw/airborne/subsystems/ins/ins_int.c
  sw/airborne/subsystems/ins/ins_int.h
Labels: Minor, Not a defect, conf

#2694 Place dummy waypoint inside max_dist_from_home. Fix #2693.
  sw/tools/generators/gen_flight_plan.ml
Labels: Flight Plan, Ground Segment

#2697 restore deleted module and clean other config files
  conf/airframes/FLIXR/flixr_conf.xml
  conf/airframes/examples/quadrotor_navstik.xml
  conf/modules/photogrammetry_calculator.xml
  sw/airborne/modules/cartography/photogrammetry_calculator.c
  sw/airborne/modules/cartography/photogrammetry_calculator.h
Labels: conf

#2698 Uavcan actuators restyle and telemetry
  conf/modules/actuators_uavcan.xml
  conf/modules/uavcan.xml
  conf/userconf/tudelft/conf.xml
  sw/airborne/arch/chibios/modules/uavcan/uavcan.c
  sw/airborne/arch/chibios/modules/uavcan/uavcan.h
  sw/airborne/subsystems/actuators/actuators_uavcan.c
  sw/airborne/subsystems/actuators/actuators_uavcan.h
Labels: Airborne, ChibiOS, Driver
