Repository paparazzi/paparazzi, pull requests merged in 2021-05, with the labels that each got.

#2702 [sbus] Fix SBUS failsafe bit similair to other projects
  sw/airborne/subsystems/radio_control/sbus.c
  sw/airborne/subsystems/radio_control/sbus_common.c
Labels: Airborne, Driver

#2704 [ins] EKF2 fix localization of global waypoints
  sw/airborne/subsystems/ins/ins_ekf2.cpp
  sw/airborne/subsystems/navigation/waypoints.h
Labels: Airborne

#2701 Remove static sectors
  conf/flight_plans/ENAC/crazyflie_multi_ranger_test.xml
  conf/flight_plans/ENAC/fish_outdoor.xml
  conf/flight_plans/ENAC/fish_voliere.xml
  conf/flight_plans/OPENUAS/openuas_versatile_unified.xml
  conf/flight_plans/competitions/IMAV2018_carto.xml
  conf/flight_plans/competitions/IMAV2019_carto.xml
  conf/flight_plans/competitions/IMAV2019_drop.xml
  conf/flight_plans/dynamic_sectors.xml
  conf/flight_plans/rotorcraft_joystick_enac.xml
  conf/flight_plans/rover_optitrack_PIR.xml
  conf/flight_plans/tudelft/delft_bebop.xml
  sw/lib/ocaml/mapFP.ml
  sw/tools/generators/gen_flight_plan.ml
Labels: Flight Plan

#2709 [rotorcraft] Add GPS loss bypass with datalink timeout
  conf/airframes/tudelft/neddrone4.xml
  conf/airframes/tudelft/neddrone5.xml
  sw/airborne/firmwares/rotorcraft/main_ap.c
Labels: Airborne

#2713 [generator] move the extraction of ground alt before ref0
  sw/tools/generators/gen_flight_plan.ml
Labels: Major, bug

#2716 Feature accurate cpu load
  conf/Makefile.chibios
  conf/airframes/ENAC/quadrotor/drop1.xml
  sw/airborne/arch/chibios/modules/core/rtos_mon_arch.c
Labels: Airborne, Enhancement

#2719 [fix] take the reverse into account in macro as well
  sw/lib/ocaml/radio.ml
  sw/tools/generators/gen_radio.ml
Labels: Airborne, Major, bug

#2718 Filter rates indi
  conf/airframes/BR/bebop_indi.xml
  conf/airframes/BR/bebop_indi_frog.xml
  conf/airframes/BR/ladybird_kit_indi_bart.xml
  conf/airframes/BR/quadshot_asp21_FutabaPPMonUart1.xml
  conf/airframes/ENAC/hoops_gen_ap.xml
  conf/airframes/ENAC/quadrotor/bebop2_fish.xml
  conf/airframes/ENAC/quadrotor/bebop2_fish_outdoor.xml
  conf/airframes/ENAC/quadrotor/crazyflie_2.1.xml
  conf/airframes/KS/ks_bebop2_stereo.xml
  conf/airframes/KS/ks_mavtec1.xml
  conf/airframes/MM/bebop2_lum1_xbee.xml
  conf/airframes/OPENUAS/openuas_3dr_iris_plus.xml
  conf/airframes/OPENUAS/openuas_bitcraze_crazyflie_2_1.xml
  conf/airframes/OPENUAS/openuas_eachine_trashcan.xml
  conf/airframes/OPENUAS/openuas_emax_tinyhawk_ii.xml
  conf/airframes/OPENUAS/openuas_own_jetson_tx220.xml
  conf/airframes/OPENUAS/openuas_parrot_ardrone_2.xml
  conf/airframes/OPENUAS/openuas_parrot_bebop.xml
  conf/airframes/OPENUAS/openuas_parrot_bebop_2.xml
  conf/airframes/OPENUAS/openuas_transitionrobotics_quadshot.xml
  conf/airframes/examples/bebop2_indi.xml
  conf/airframes/examples/bebop2_opticflow.xml
  conf/airframes/examples/bebop2_ukf_magnetometer_calibration.xml
  conf/airframes/examples/quadrotor_navstik.xml
  conf/airframes/examples/quadshot_asp21_FutabaPPMonUart1.xml
  conf/airframes/examples/quadshot_asp21_spektrum.xml
  conf/airframes/examples/trashcan.xml
  conf/airframes/tudelft/ardrone2_OF_hover.xml
  conf/airframes/tudelft/ardrone2_indi.xml
  conf/airframes/tudelft/ardrone2_optitrack.xml
  conf/airframes/tudelft/bebop2_indi.xml
  conf/airframes/tudelft/bebop2_no_damping.xml
  conf/airframes/tudelft/bebop2_opticflow.xml
  conf/airframes/tudelft/bebop2_optitrack.xml
  conf/airframes/tudelft/bebop2_optitrack_visionfront.xml
  conf/airframes/tudelft/bebop2_undistort_front.xml
  conf/airframes/tudelft/bebop_OF_hover.xml
  conf/airframes/tudelft/bebop_flip.xml
  conf/airframes/tudelft/bebop_mavlink.xml
  conf/airframes/tudelft/bebop_opticflow.xml
  conf/airframes/tudelft/guido_ardrone2_optitrack.xml
  conf/airframes/tudelft/iris_indi.xml
  conf/airframes/tudelft/mavtec1.xml
  conf/airframes/tudelft/mavtec5.xml
  conf/airframes/tudelft/neddrone4.xml
  conf/airframes/tudelft/neddrone5.xml
  conf/airframes/tudelft/robird.xml
  conf/airframes/tudelft/splash_px4.xml
  conf/modules/stabilization_indi_simple.xml
  conf/userconf/tudelft/conf.xml
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_indi_simple.c
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_indi_simple.h
Labels: Airborne, conf

#2722 [generators] add missing close files
  sw/tools/generators/gen_airframe.ml
  sw/tools/generators/gen_modules.ml
  sw/tools/generators/gen_settings.ml
Labels: Build system

#2509 [module] Add a follow me module
  conf/modules/follow_me.xml
  sw/airborne/modules/ctrl/follow_me.c
  sw/airborne/modules/ctrl/follow_me.h
Labels: Airborne, Enhancement, Module

#2728 remove lift eff scaling
  conf/airframes/tudelft/neddrone4.xml
  conf/airframes/tudelft/neddrone5.xml
  conf/modules/guidance_indi_hybrid.xml
  conf/userconf/tudelft/conf.xml
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi_hybrid.c
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi_hybrid.h
Labels: Airborne, Minor, bug

#2732 [gcs] indicate voltage/cell if number of cells is specified
  conf/airframes/ENAC/fixed-wing/jp.xml
  sw/ground_segment/cockpit/live.ml
  sw/ground_segment/cockpit/strip.ml
  sw/ground_segment/cockpit/strip.mli
Labels: GCS
