Repository paparazzi/paparazzi, pull requests merged in 2021-07, with the labels that each got.

#2746 [board] support Holybro Kakute F7
  conf/airframes/ENAC/quadrotor/kakute_f7.xml
  conf/boards/holybro_kakute_f7.makefile
  conf/flash_modes.xml
  sw/airborne/boards/holybro/kakute_f7/board.c
  sw/airborne/boards/holybro/kakute_f7/board.h
  sw/airborne/boards/holybro/kakute_f7/board.mk
  sw/airborne/boards/holybro/kakute_f7/holybro_kakute_f7.cfg
  sw/airborne/boards/holybro/kakute_f7/holybro_kakute_f7.h
  sw/airborne/boards/holybro/kakute_f7/mcuconf.h
Labels: board config

#2731 Indi updates
  conf/modules/stabilization_indi.xml
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi.c
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_indi.c
Labels: Airborne

#2750 [combined] Small fixes
  conf/airframes/tudelft/neddrone4_tem.xml
  conf/flight_plans/tudelft/nederdrone_cyberzoo.xml
  conf/modules/ins_ekf2.xml
  conf/telemetry/highspeed_rotorcraft.xml
  conf/userconf/tudelft/conf.xml
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi_hybrid.c
  sw/airborne/subsystems/gps/gps_datalink.c
  sw/airborne/subsystems/ins/ins_ekf2.cpp
  sw/ground_segment/python/herelink.py
Labels: Enhancement

#2751 [boards] Add PPM input to Pixhawk 4 (px4fmuv5)
  sw/airborne/boards/px4fmu/chibios/v5.0/board.cfg
  sw/airborne/boards/px4fmu/chibios/v5.0/board.h
  sw/airborne/boards/px4fmu/chibios/v5.0/mcuconf.h
  sw/airborne/boards/px4fmu/chibios/v5.0/px4fmu.h
Labels: board config
