Repository paparazzi/paparazzi, pull requests merged in 2021-08, with the labels that each got.

#2756 Nederdrone name written fully
  conf/airframes/tudelft/nederdrone4.xml
  conf/airframes/tudelft/nederdrone4_tem.xml
  conf/airframes/tudelft/nederdrone5.xml
  conf/userconf/tudelft/conf.xml
Labels: Minor

#2758 Update uart_arch.h
  sw/airborne/arch/chibios/mcu_periph/uart_arch.h
Labels: Airborne

#2754 Replay settings
  sw/ground_segment/tmtc/server.ml
  sw/logalizer/play_core.ml
Labels: Ground Segment

#2761 [fix] correct ADC buffer offset for ChibiOS
  sw/airborne/arch/chibios/mcu_periph/adc_arch.c
Labels: ChibiOS, bug

#2764 FIX simulation mag saturation
  conf/simulator/nps/nps_sensors_params_default.h
Labels: Simulation

#2769 [nps] clean sensors params files
  conf/airframes/AGGIEAIR/aggieair_atomic_lia.xml
  conf/airframes/AGGIEAIR/aggieair_blujay.xml
  conf/airframes/AGGIEAIR/aggieair_blujay_goose.xml
  conf/airframes/AGGIEAIR/aggieair_el_captitan_lia.xml
  conf/airframes/AGGIEAIR/aggieair_minion_rp3_lia.xml
  conf/airframes/AGGIEAIR/aggieair_minionsim_lia.xml
  conf/airframes/AGGIEAIR/aggieair_minty_lia.xml
  conf/airframes/ENAC/fixed-wing/jp.xml
  conf/airframes/ENAC/fixed-wing/matek_f765_wing.xml
  conf/airframes/ENAC/fixed-wing/zagi_mekf_wind.xml
  conf/airframes/ENAC/nucleo144_test.xml
  conf/airframes/ENAC/quadrotor/ard2_base_control.xml
  conf/airframes/ENAC/quadrotor/drop1.xml
  conf/airframes/OPENUAS/openuas_df_mini_spirit.xml
  conf/airframes/OPENUAS/openuas_eflite_t28.xml
  conf/airframes/OPENUAS/openuas_multiplex_minimag.xml
  conf/airframes/OPENUAS/openuas_multiplex_twinstar_nd.xml
  conf/airframes/OPENUAS/openuas_own_flexo.xml
  conf/airframes/OPENUAS/openuas_own_sumo_ii.xml
  conf/airframes/OPENUAS/openuas_parrot_disco.xml
  conf/airframes/examples/bixler_lisa_m_2.xml
  conf/simulator/nps/nps_sensors_params_ardrone2.h
  conf/simulator/nps/nps_sensors_params_aspirin_1.5.h
  conf/simulator/nps/nps_sensors_params_booz2_a1.h
  conf/simulator/nps/nps_sensors_params_booz2_a1p.h
  conf/simulator/nps/nps_sensors_params_default.h
  conf/simulator/nps/nps_sensors_params_hbmini.h
  conf/simulator/nps/nps_sensors_params_invariant.h
  conf/simulator/nps/nps_sensors_params_vectornav.h
  conf/simulator/nps/nps_sensors_params_wind_estimator.h
Labels: Simulation

#2771 [module] update module creator for tasks and dependencies
  sw/tools/create_module/create_mod_qt.py
  sw/tools/create_module/create_module_ui.py
  sw/tools/create_module/create_module_ui.ui
  sw/tools/create_module/files_create.py
Labels: Ground Segment, Enhancement, Module

#2774 [libs] Fix python settings lib.
  sw/lib/python/settings.py
Labels: Ground Segment

#2773 [fix] repair some broken conf from CI night build errors
  conf/airframes/AGGIEAIR/aggieair_iris_indi.xml
  conf/airframes/OPENUAS/openuas_multiplex_minimag.xml
  conf/modules/baro_board.xml
  conf/modules/boards/disco.xml
  conf/modules/cv_opticflow.xml
  conf/modules/ins.xml
  conf/modules/ins_hff.xml
  conf/modules/ins_hff_extended.xml
  conf/userconf/tudelft/conf.xml
  sw/airborne/boards/disco.h
Labels: conf

#2763 [ins] add support for gps course as heading (for indoor use)
  sw/airborne/subsystems/ins/ins_float_invariant.c
Labels: Airborne
