Repository paparazzi/paparazzi, pull requests merged in 2021-01, with the labels that each got.

#2634 [shell] add a shell module with ChibiOS
  conf/airframes/ENAC/fixed-wing/apogee.xml
  conf/modules/shell.xml
  sw/airborne/arch/chibios/modules/core/microrl/microrl.c
  sw/airborne/arch/chibios/modules/core/microrl/microrl.h
  sw/airborne/arch/chibios/modules/core/microrl/microrlConfig.h
  sw/airborne/arch/chibios/modules/core/microrl/microrlShell.c
  sw/airborne/arch/chibios/modules/core/microrl/microrlShell.h
  sw/airborne/arch/chibios/modules/core/rtos_mon_arch.c
  sw/airborne/arch/chibios/modules/core/shell_arch.c
  sw/airborne/arch/chibios/modules/core/shell_arch.h
  sw/airborne/modules/core/shell.c
  sw/airborne/modules/core/shell.h
Labels: Airborne, ChibiOS, New Feature

#2641 [nav] in_flight detection is not implemented in fixedwing firmware
  sw/airborne/firmwares/fixedwing/nav.c
Labels: Airborne, Fixedwing, Major, bug

#2637 [dshot] fix dshot driver for F4 (no DMA cache)
  sw/airborne/arch/chibios/mcu_periph/hal_stm32_dma.c
  sw/airborne/arch/chibios/mcu_periph/hal_stm32_dma.h
  sw/airborne/arch/chibios/modules/actuators/esc_dshot.c
  sw/airborne/arch/chibios/modules/actuators/esc_dshot.h
  sw/airborne/boards/apogee/chibios/v1.0/board.h
Labels: Airborne, Driver, bug

#2646 [gec] fix compilation of secure telemetry module gec_dl
  Makefile
  sw/airborne/arch/chibios/mcu_periph/rng_arch.c
  sw/airborne/modules/datalink/gec_dl.c
Labels: Airborne, Minor, bug

#2651 [Tracker] Fix tracker route.
  sw/airborne/modules/e_identification_fr/e_identification_fr.c
Labels: Airborne

#2654 prevent RC while failsafe
  sw/airborne/firmwares/rotorcraft/autopilot_static.c
Labels: Airborne, Rotorcraft
