Repository paparazzi/paparazzi, pull requests merged in 2021-06, with the labels that each got.

#2736 [sd_log] replay fails due to space since IVY uses spaces to separate …
  sw/airborne/modules/loggers/sdlog_chibios.c
Labels: Airborne, bug

#2741 [fix] add which command to test if GDB exists for arm linux
  conf/Makefile.arm-linux-toolchain
Labels: Build system

#2742 [driver] support for RM3100 magneto over I2C
  conf/modules/mag_rm3100.xml
  sw/airborne/modules/sensors/mag_rm3100.c
  sw/airborne/modules/sensors/mag_rm3100.h
  sw/airborne/peripherals/rm3100.c
  sw/airborne/peripherals/rm3100.h
  sw/airborne/subsystems/abi_sender_ids.h
Labels: Airborne, Driver, Module
