Repository paparazzi/paparazzi, pull requests merged in 2021-09, with the labels that each got.

#2777 Better link status
  sw/ground_segment/cockpit/live.ml
  sw/ground_segment/cockpit/live.mli
  sw/ground_segment/cockpit/pages.ml
  sw/ground_segment/tmtc/aircraft_server.ml
  sw/ground_segment/tmtc/aircraft_server.mli
  sw/ground_segment/tmtc/server.ml
Labels: Ground Segment

#2778 [LinkCombiner] rename function.
  sw/ground_segment/python/redundant_link/link_combiner.py
Labels: Minor, communication, bug

#2780 Add PprzGCS tool.
  conf/tools/pprzgcs.xml
Labels: GCS, Paparazzi Center

#2782 ADD tilt twist control (twist around z)
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_indi.c
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_indi_simple.c
  sw/airborne/math/pprz_algebra_float.c
  sw/airborne/math/pprz_algebra_float.h
  sw/airborne/test/Makefile
  sw/airborne/test/pprz_algebra_print.h
  sw/airborne/test/test_tilt_twist.c
Labels: Airborne, Enhancement

#2783 RM3100 i2c dependency
  conf/modules/mag_rm3100.xml
Labels: Module, conf
