Repository paparazzi/paparazzi, pull requests merged in 2021-11, with the labels that each got.

#2794 Setteable MIN_COUSE_SPEED in ahrs_float_dcm
  sw/airborne/subsystems/ahrs/ahrs_float_dcm.c
  sw/airborne/subsystems/ahrs/ahrs_float_dcm.h
Labels: Airborne, Enhancement

#2793 [ocaml] apply a second topological sort to modules
  conf/modules/ahrs_common.xml
  conf/modules/firmwares/rotorcraft.xml
  conf/modules/guidance_rotorcraft.xml
  conf/modules/nav_basic_rotorcraft.xml
  conf/modules/stabilization_rotorcraft.xml
  conf/modules/targets/fbw.xml
  sw/lib/ocaml/aircraft.ml
Labels: Ground Segment, Build system

#2795 [fix] add missing control event call
  sw/airborne/firmwares/fixedwing/main_ap.c
  sw/airborne/firmwares/rotorcraft/main_ap.c
  sw/airborne/firmwares/rover/main_ap.c
Labels: Airborne, Major, bug

#2800 [module] wind estimation from quadrotor motion
  conf/airframes/ENAC/quadrotor/niquad_wind.xml
  conf/modules/wind_estimation_quadrotor.xml
  conf/simulator/jsbsim/aircraft/simple_quad_wind.xml
  conf/simulator/nps/nps_sensors_params_noisy.h
  conf/telemetry/default_rotorcraft.xml
  sw/airborne/filters/linear_kalman_filter.c
  sw/airborne/filters/linear_kalman_filter.h
  sw/airborne/math/pprz_algebra_float.h
  sw/airborne/modules/air_data/air_data.c
  sw/airborne/modules/air_data/air_data.h
  sw/airborne/modules/core/abi_sender_ids.h
  sw/airborne/modules/meteo/wind_estimation_quadrotor.c
  sw/airborne/modules/meteo/wind_estimation_quadrotor.h
  sw/simulator/nps/nps_fdm_jsbsim.cpp
Labels: Airborne, Simulation, Module

#2802 Small fix collection
  conf/modules/cv_opticflow.xml
  conf/modules/laser_range_array.xml
  conf/modules/math.xml
  conf/modules/telemetry_bluegiga.xml
  conf/modules/telemetry_intermcu.xml
  conf/modules/telemetry_ivy.xml
  conf/modules/telemetry_nps.xml
  conf/modules/telemetry_sim.xml
  conf/modules/telemetry_superbitrf.xml
  conf/modules/telemetry_transparent.xml
  conf/modules/telemetry_transparent_frsky_x.xml
  conf/modules/telemetry_transparent_gec.xml
  conf/modules/telemetry_transparent_udp.xml
  conf/modules/telemetry_xbee_api.xml
  sw/airborne/boards/bebop/mt9f002.c
  sw/airborne/math/pprz_matrix_decomp_float.c
  sw/airborne/modules/computer_vision/opticflow/linear_flow_fit.c
  sw/airborne/modules/computer_vision/opticflow_module.c
  sw/airborne/modules/datalink/superbitrf.c
  sw/airborne/modules/range_finder/laser_range_array.c
  tests/modules/dummy.h
  tests/modules/generated/keys_uav.h
  tests/modules/generated/periodic_telemetry.h
  tests/modules/test_arch/udp_socket.h
Labels: Airborne, Module, Not a defect

#2803 [fix] correct pseudo_mag projection
  sw/airborne/modules/ins/ins_float_invariant.c
Labels: Airborne, Minor, bug
