Repository paparazzi/paparazzi, pull requests merged in 2022-02, with the labels that each got.

#2823 added radio and joystick files for flysky_fsi6x
  conf/joystick/flysky_fsi6x.xml
  conf/radios/flysky_fsi6x.xml
Labels: conf

#2825 Opticflow pyramid build FPS improvements
  conf/airframes/tudelft/bebop_opticflow_indoor.xml
  sw/airborne/modules/computer_vision/lib/vision/image.c
Labels: Airborne, computer vision

#2832 [guidance] Add debug message guidance INDI
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi.c
Labels: Airborne
