Repository paparazzi/paparazzi, pull requests merged in 2022-07, with the labels that each got.

#2887 fixed CPPM reception issue for lisa_m and lisa_mx ap
  conf/airframes/OPENUAS/openuas_df_mini_spirit.xml
  conf/airframes/OPENUAS/openuas_wltech_xk_a160.xml
  sw/airborne/boards/lisa_m_common.h
  sw/airborne/boards/lisa_mx_common.h
Labels: Airborne, PleaseReviewAndClosePullRequest, bug, board config

#2888 [fix] update the autopilot throttle in manual for fixedwing
  sw/airborne/firmwares/fixedwing/autopilot_static.c
Labels: Airborne, Minor, Fixedwing, bug

#2892 [fix] change IRQ priority for DMA
  sw/airborne/arch/chibios/mcu_periph/hal_stm32_dma.c
  sw/airborne/arch/chibios/modules/actuators/esc_dshot.c
Labels: Major, ChibiOS, bug
