Repository paparazzi/paparazzi, pull requests merged in 2022-12, with the labels that each got.

#2936 [PX4] AP and FBW flash through bootloader fix
  conf/modules/px4_flash.xml
  sw/airborne/arch/chibios/usb_ser_hw.c
  sw/airborne/modules/px4_flash/protocol.h
  sw/airborne/modules/px4_flash/px4_flash.c
  sw/tools/px4/px4fmu-v2.prototype
  sw/tools/px4/px4io-v2.prototype
  sw/tools/px4/px_mkfw.py
  sw/tools/px4/px_uploader.py
  sw/tools/px4/set_target.py
Labels: Airborne

#2959 [supervision] Add settings selector.
  sw/supervision/python/Makefile
  sw/supervision/python/conf_settings_widget.py
  sw/supervision/python/conf_widget.py
  sw/supervision/python/configuration_panel.py
  sw/supervision/python/utils.py
Labels: Paparazzi Center

#2958 [natnet] display object in GCS based on optitrack markerset
  conf/tools/display_objects.xml
  sw/ground_segment/python/natnet3.x/NatNetClient.py
  sw/ground_segment/python/natnet3.x/display_objects.py
Labels: Ground Segment, GCS

#2943 [supervision] Make python supervision the default one.
  paparazzi
Labels: Paparazzi Center, conf
