Repository paparazzi/paparazzi, pull requests merged in 2022-09, with the labels that each got.

#2900 [gcs] Change voltage precision per cell
  sw/ground_segment/cockpit/strip.ml
Labels: Ground Segment, Enhancement

#2899 [link] Make sure that -nouplink also doesn't send ping
  sw/ground_segment/tmtc/link.ml
Labels: Ground Segment, bug

#2904 fix switched mode channel
  conf/radios/sbus_delft.xml
Labels: conf

#2905 Update conf enac imav
  conf/airframes/ENAC/quadrotor/drop1.xml
  conf/airframes/ENAC/quadrotor/niquad_wind.xml
  conf/autopilot/rover_steering.xml
  conf/flight_plans/competitions/IMAV2022_drop.xml
  conf/flight_plans/competitions/IMAV2022_falcon.xml
  conf/flight_plans/competitions/IMAV2022_search.xml
  conf/mag/README.md
  conf/mag/delft_valkenburg.xml
  conf/mag/north_unit.xml
  conf/mag/toulouse_muret.xml
  conf/radios/FrSky_X-Lite.xml
  sw/airborne/firmwares/rotorcraft/autopilot_firmware.c
  sw/airborne/firmwares/rover/guidance/rover_guidance_steering.h
  sw/airborne/modules/multi/follow.c
  sw/ground_segment/python/move_waypoint_example.py
  sw/ground_segment/tmtc/link.ml
  sw/ground_segment/tmtc/server.ml
  sw/logalizer/sd2log.ml
Labels: Enhancement, conf

#2909 [nav] fix glide computation with a cast uint->int
  sw/airborne/firmwares/rotorcraft/navigation.h
Labels: Rotorcraft, bug

#2910 [imu] Fix old imu references
  sw/airborne/modules/benchmark/imu_quality_assessment.c
  sw/airborne/modules/display/max7456.c
  sw/airborne/modules/loggers/high_speed_logger_spi_link.c
  sw/airborne/test/modules/test_ahrs.c
  sw/airborne/test/peripherals/test_ms2100.c
Labels: Minor, bug
