Repository paparazzi/paparazzi, pull requests merged in 2022-11, with the labels that each got.

#2944 [test] clean ac after runing test
  tests/aircrafts/01_compile_all_aircrafts.t
Labels: Build system

#2945 Fix small bugs
  sw/airborne/modules/imu/imu_aspirin.c
  sw/tools/calibration/calibration_utils.py
Labels: bug

#2948 [boards] Fix LisaMX v2.1 chibios I2C definitions
  sw/airborne/boards/lisa_mx/chibios/v2.1/board.h
Labels: board config

#2949 Add chibios for lisa mxs fc
  conf/airframes/OPENUAS/openuas_wltech_xk_a160.xml
  conf/boards/lisa_mxs_1.0_chibios.makefile
  conf/modules/boards/lisa_mxs_1.0_chibios.xml
  sw/airborne/boards/lisa_mxs/chibios/v1.0/board.h
  sw/airborne/boards/lisa_mxs/chibios/v1.0/mcuconf.h
Labels: ChibiOS, board config

#2950 [datalink] add a datalink init function
  conf/firmwares/setup.makefile
  conf/firmwares/test_chibios.makefile
  conf/firmwares/test_progs.makefile
  conf/modules/datalink_common.xml
  sw/airborne/arch/sim/sim_ap.c
  sw/airborne/firmwares/demo/demo_ahrs_actuators.c
  sw/airborne/firmwares/setup/setup_actuators.c
  sw/airborne/modules/datalink/datalink.c
  sw/airborne/modules/datalink/datalink.h
  sw/airborne/modules/datalink/downlink.c
  sw/airborne/test/mcu_periph/test_adc.c
  sw/airborne/test/modules/test_ahrs.c
  sw/airborne/test/modules/test_imu.c
  sw/airborne/test/modules/test_radio_control.c
  sw/airborne/test/modules/test_settings.c
  sw/airborne/test/peripherals/test_ami601.c
  sw/airborne/test/peripherals/test_lis302dl_spi.c
  sw/airborne/test/peripherals/test_ms2100.c
  sw/airborne/test/test_actuators_pwm.c
  sw/airborne/test/test_baro_board.c
  sw/airborne/test/test_can.c
  sw/airborne/test/test_datalink.c
  sw/airborne/test/test_manual.c
  sw/airborne/test/test_math_trig_compressed.c
  sw/airborne/test/test_module.c
  sw/airborne/test/test_telemetry.c
Labels: Airborne

#2947 More intuitive axes systems for indoor test areas with Optitrack positioning systems
  sw/airborne/modules/gps/gps_datalink.c
  sw/ground_segment/python/natnet3.x/natnet2ivy.py
Labels: Ground Segment

#2946 Convergence rebase
  conf/airframes/tudelft/bebop2_indi_convergence.xml
  conf/airframes/tudelft/disco_rotorcraft_indi.xml
  conf/flight_plans/tudelft/delft_bebop_convergence.xml
  conf/flight_plans/tudelft/disco_convergence.xml
  conf/modules/actuators_disco.xml
  conf/modules/logger_file.xml
  conf/simulator/jsbsim/aircraft/Systems/aerodynamics_disco.xml
  conf/simulator/jsbsim/aircraft/bebop2.xml
  conf/simulator/jsbsim/aircraft/disco_rotorcraft.xml
  conf/telemetry/default_rotorcraft.xml
  conf/userconf/tudelft/conf.xml
  sw/airborne/firmwares/rotorcraft/guidance/guidance_h.c
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi.h
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi_hybrid.c
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi_hybrid.h
  sw/airborne/firmwares/rotorcraft/navigation.h
  sw/tools/parrot/bebop.py
Labels: Rotorcraft and FW convergence, New Feature

#2956 File logger rename
  conf/airframes/BR/bebop_default.xml
  conf/airframes/BR/bebop_indi.xml
  conf/airframes/BR/bebop_indi_frog.xml
  conf/airframes/ENAC/cyfoam.xml
  conf/airframes/MM/bebop.xml
  conf/airframes/MM/bebop2_lum1_xbee.xml
  conf/airframes/OPENUAS/openuas_parrot_ardrone_2.xml
  conf/airframes/OPENUAS/openuas_parrot_bebop.xml
  conf/airframes/OPENUAS/openuas_parrot_bebop_2.xml
  conf/airframes/OPENUAS/openuas_parrot_disco.xml
  conf/airframes/examples/bebop.xml
  conf/airframes/examples/bebop2_indi.xml
  conf/airframes/examples/bebop2_ukf_magnetometer_calibration.xml
  conf/airframes/examples/cube_orange.xml
  conf/airframes/examples/disco_energy.xml
  conf/airframes/tudelft/bebop2_indi.xml
  conf/airframes/tudelft/bebop2_indi_convergence.xml
  conf/airframes/tudelft/bebop2_no_damping.xml
  conf/airframes/tudelft/bebop2_opticflow.xml
  conf/airframes/tudelft/bebop2_optitrack_visionfront.xml
  conf/airframes/tudelft/bebop2_undistort_front.xml
  conf/airframes/tudelft/bebop_autonomous_race_2018.xml
  conf/airframes/tudelft/bebop_course_orangeavoid.xml
  conf/airframes/tudelft/bebop_course_orangeavoid_guided.xml
  conf/airframes/tudelft/bebop_flip.xml
  conf/airframes/tudelft/bebop_indi.xml
  conf/airframes/tudelft/bebop_indi_actuators.xml
  conf/airframes/tudelft/bebop_mav_course_exercise.xml
  conf/airframes/tudelft/bebop_mavlink.xml
  conf/airframes/tudelft/bebop_opticflow_indoor_2x_30hz.xml
  conf/airframes/tudelft/bebop_optitrack.xml
  conf/airframes/tudelft/bebop_ralphthesis2020_stereo.xml
  conf/airframes/tudelft/cyfoam.xml
  conf/airframes/tudelft/disco_rotorcraft_indi.xml
  conf/airframes/tudelft/fan_demo.xml
  conf/airframes/tudelft/nederdrone4.xml
  conf/airframes/tudelft/nederdrone4_tem.xml
  conf/airframes/tudelft/nederdrone5.xml
  conf/airframes/tudelft/splash4.xml
  conf/modules/logger_file.xml
  sw/airborne/modules/loggers/logger_file.c
  sw/airborne/modules/loggers/logger_file.h
Labels: Airborne, Module
