Repository paparazzi/paparazzi, pull requests merged in 2022-01, with the labels that each got.

#2812 [conf] change default conf, microjet.xml no longer exists
  sw/supervision/pc_aircraft.ml
Labels: conf

#2811 [fix] correct return value of set_mode function
  sw/airborne/autopilot.c
Labels: Minor, bug

#2815 [doc] Add doc on SHAPEs and INTRUDERs.
  doc/sphinx/source/user_guide/complex_shape.png
  doc/sphinx/source/user_guide/gcs_graphics.rst
  doc/sphinx/source/user_guide/index_user_guide.rst
  doc/sphinx/source/user_guide/intruder.png
  doc/sphinx/source/user_guide/shapes.png
  doc/sphinx/source/user_guide/shapes_example.py
Labels: GCS, Documentation

#2816 [doc] Get version from the paparazzi_version script.
  doc/sphinx/source/conf.py
Labels: Documentation

#2810 addition to system identification modules
  conf/modules/sys_id_chirp.xml
  conf/modules/sys_id_doublet.xml
  conf/modules/sys_id_wave.xml
  sw/airborne/modules/system_identification/pprz_doublet.c
  sw/airborne/modules/system_identification/pprz_doublet.h
  sw/airborne/modules/system_identification/pprz_wave.c
  sw/airborne/modules/system_identification/pprz_wave.h
  sw/airborne/modules/system_identification/sys_id_chirp.c
  sw/airborne/modules/system_identification/sys_id_chirp.h
  sw/airborne/modules/system_identification/sys_id_doublet.c
  sw/airborne/modules/system_identification/sys_id_doublet.h
  sw/airborne/modules/system_identification/sys_id_wave.c
  sw/airborne/modules/system_identification/sys_id_wave.h
Labels: Airborne, Enhancement

#2817 Motors on indi
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_indi.c
Labels: Airborne
