Repository paparazzi/paparazzi, pull requests merged in 2023-10, with the labels that each got.

#3115 [wls] make WLS lib, add support for guidance_indi_hybrid
  conf/airframes/tudelft/nederdrone4.xml
  conf/airframes/tudelft/nederdrone6.xml
  conf/airframes/tudelft/nederdrone7.xml
  conf/airframes/tudelft/nederdrone8.xml
  conf/modules/guidance_indi_hybrid.xml
  conf/modules/stabilization_indi.xml
  conf/modules/wls.xml
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi_hybrid.c
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi_hybrid.h
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_indi.c
  sw/airborne/math/pprz_algebra_float.c
  sw/airborne/math/pprz_algebra_float.h
  sw/airborne/math/wls/wls_alloc.c
  sw/airborne/math/wls/wls_alloc.h
  sw/airborne/test/Makefile
  sw/airborne/test/test_alloc.c
Labels: Airborne

#3120 WLS update NaN
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi_hybrid.c
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_indi.c
  sw/airborne/math/wls/wls_alloc.c
  sw/airborne/math/wls/wls_alloc.h
  sw/airborne/test/test_alloc.c
Labels: bug

#3112 [fix] led_hw.h can be a dummy interface for testing
  tests/modules/test_arch/led_hw.h
Labels: Minor, bug

#3121 quadplane stabilization (WLS-only)
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_indi.c
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_indi.h
Labels: Airborne

#3122 quadplane guidance
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi_hybrid.c
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi_hybrid.h
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi_hybrid_quadplanes.h
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi_hybrid_tailsitters.h
Labels: Airborne

#3127 [fix] cleanup make all conf airframes
  conf/airframes/ENAC/conf_enac.xml
  conf/airframes/ENAC/cyfoam.xml
  conf/airframes/ENAC/quadrotor/anton_indi_aruco.xml
  conf/airframes/ENAC/quadrotor/robobee.xml
  conf/airframes/ENAC/quadrotor/ulysse_indi.xml
  conf/airframes/tudelft/bebop_indi_actuators.xml
  conf/airframes/tudelft/bebop_optitrack.xml
  conf/airframes/tudelft/cyfoam.xml
  conf/airframes/tudelft/disco_rotorcraft_indi.xml
  conf/airframes/tudelft/fan_demo.xml
  conf/airframes/tudelft/nederdrone4.xml
  conf/airframes/tudelft/nederdrone6.xml
  conf/airframes/tudelft/nederdrone7.xml
  conf/airframes/tudelft/nederdrone8.xml
  conf/airframes/tudelft/splash4.xml
  conf/modules/stabilization_indi.xml
  conf/userconf/tudelft/conf.xml
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi_hybrid.c
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_indi.c
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_indi.h
  sw/airborne/math/wls/wls_alloc.h
Labels: Airborne, bug

#3126 Negative airspeeds from negative differential pressures.
  sw/airborne/modules/air_data/air_data.c
  sw/airborne/modules/datalink/mavlink.c
  sw/airborne/modules/nav/nav_drop.c
  sw/airborne/modules/sensors/airspeed_ms45xx_i2c.c
  sw/airborne/modules/sensors/airspeed_uavcan.c
Labels: Airborne

#3133 [airframes] RW25kg
  conf/airframes/tudelft/rot_wing_25kg.xml
  conf/flight_plans/tudelft/rotating_wing25kg_EHVB.xml
  conf/modules/ctrl_eff_sched_rot_wing.xml
  conf/simulator/jsbsim/aircraft/rotwing25.xml
  conf/userconf/tudelft/conf.xml
  sw/airborne/filters/notch_filter_float.h
  sw/airborne/modules/ctrl/ctrl_eff_sched_rot_wing.c
  sw/airborne/modules/radio_control/rc_datalink.h
Labels: Airborne

#3139 Fix dshot telemetry with new actuator feedback module
  sw/airborne/arch/chibios/modules/actuators/actuators_dshot_arch.c
Labels: Airborne, Driver, bug

#3140 [fix] FAST9 camera id check
  conf/airframes/examples/bebop2_opticflow.xml
  conf/modules/cv_opticflow.xml
  sw/airborne/modules/computer_vision/lib/vision/act_fast.c
  sw/airborne/modules/computer_vision/opticflow/opticflow_calculator.c
  sw/airborne/modules/computer_vision/opticflow_module.c
  sw/airborne/modules/sensors/baro_MS5534A.c
Labels: Airborne, bug

#3149 [imav] ENAC flight plans for IMAV2023
  conf/flight_plans/competitions/IMAV2023_carto.xml
  conf/flight_plans/competitions/IMAV2023_data.xml
  conf/flight_plans/competitions/IMAV2023_dynamic.xml
  conf/flight_plans/competitions/IMAV2023_endurance.xml
  conf/flight_plans/competitions/IMAV2023_hickers.xml
Labels: Flight Plan
