Repository paparazzi/paparazzi, pull requests merged in 2023-05, with the labels that each got.

#3027 [board] Fix I2C 400kHz for H7 common board
  sw/airborne/arch/chibios/common_board.h
Labels: ChibiOS, bug

#3030 [ocaml] add old and new GCS srtm path to default directory list
  sw/ground_segment/cockpit/gcs.ml
  sw/ground_segment/cockpit/lib/mapCanvas.ml
  sw/ground_segment/tmtc/150m.ml
  sw/ground_segment/tmtc/server.ml
  sw/lib/ocaml/env.ml
  sw/lib/ocaml/env.mli
  sw/lib/ocaml/srtm.ml
  sw/simulator/sim.ml
  sw/tools/generators/gen_flight_plan.ml
Labels: Ground Segment

#3033 [dshot] fix dshot telemetry and provide pprz message support
  conf/telemetry/default_rotorcraft.xml
  sw/airborne/arch/chibios/modules/actuators/actuators_dshot_arch.c
  sw/airborne/arch/chibios/modules/actuators/esc_dshot.c
  sw/airborne/boards/tawaki/chibios/common/mcuconf.h
  sw/airborne/boards/tawaki/chibios/common/tawaki.h
  sw/airborne/modules/actuators/actuators_dshot.h
  sw/airborne/modules/core/abi_sender_ids.h
Labels: Airborne, Driver
