Repository paparazzi/paparazzi, pull requests merged in 2023-11, with the labels that each got.

#3155 [calibration] Fix calibration warnings.
  sw/tools/calibration/calibrate.py
Labels: Ground Segment

#3152 [imu] Fix Invensense V2 accelerometer DLPF config
  sw/airborne/peripherals/invensense2.c
Labels: Airborne, Driver, bug

#3148 [nav] use a low speed for goto with hybrid
  conf/modules/nav_hybrid.xml
  sw/airborne/modules/nav/nav_rotorcraft_hybrid.c
  sw/airborne/modules/nav/nav_rotorcraft_hybrid.h
Labels: Airborne

#3161 hybrid quadplanes and tailsitters explicit
  conf/airframes/examples/cube_orange.xml
  conf/airframes/tudelft/bebop2_indi_convergence.xml
  conf/airframes/tudelft/cyfoam.xml
  conf/airframes/tudelft/disco_rotorcraft_indi.xml
  conf/airframes/tudelft/nederdrone4.xml
  conf/airframes/tudelft/nederdrone6.xml
  conf/airframes/tudelft/nederdrone7.xml
  conf/airframes/tudelft/nederdrone8.xml
  conf/airframes/tudelft/rot_wing_25kg.xml
  conf/modules/guidance_indi_hybrid.xml
  conf/modules/guidance_indi_hybrid_quadplane.xml
  conf/modules/guidance_indi_hybrid_tailsitter.xml
  conf/modules/nav_hybrid.xml
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi_hybrid.c
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi_hybrid.h
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi_hybrid_quadplane.c
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi_hybrid_quadplane.h
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi_hybrid_tailsitter.c
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi_hybrid_tailsitter.h
Labels: Airborne, Module

#3165 Fix nav hybrid speed
  conf/airframes/examples/cube_orange.xml
  conf/conf_tests.xml
  conf/modules/nav_hybrid.xml
  sw/airborne/modules/nav/nav_rotorcraft_hybrid.h
Labels: Airborne, Blocking, bug

#3164 [imu] Add accel and gyro filtering options
  sw/airborne/modules/imu/imu.c
  sw/airborne/modules/imu/imu.h
Labels: Airborne, New Feature

#3167 [sim] moving the old ocaml simulator to NPS
  Makefile
  conf/Makefile.sim
  conf/modules/actuators_nps.xml
  conf/modules/fdm_fixedwing_sim.xml
  conf/modules/firmwares/fixedwing.xml
  conf/modules/gps_nps.xml
  conf/modules/imu_common.xml
  conf/modules/imu_nps.xml
  conf/modules/ins_arduimu.xml
  conf/modules/ins_arduimu_basic.xml
  conf/modules/ins_nps.xml
  conf/modules/system_core.xml
  conf/modules/targets/nps.xml
  conf/modules/targets/nps_common.xml
  conf/modules/targets/sim.xml
  conf/modules/telemetry_nps.xml
  conf/modules/udp.xml
  sw/airborne/arch/sim/led_hw.c
  sw/airborne/arch/sim/led_hw.h
  sw/airborne/arch/sim/modules/radio_control/ppm_arch.c
  sw/airborne/arch/sim/modules/radio_control/rc_datalink.c
  sw/airborne/arch/sim/modules/radio_control/spektrum_arch.c
  sw/airborne/arch/sim/sim_adc_generic.c
  sw/airborne/arch/sim/sim_ahrs.c
  sw/airborne/arch/sim/sim_airspeed.c
  sw/airborne/arch/sim/sim_ap.c
  sw/airborne/arch/sim/sim_gps.c
  sw/airborne/arch/sim/sim_uart_hw.c
  sw/simulator/Makefile
  sw/simulator/data.ml
  sw/simulator/data.mli
  sw/simulator/diffusion.ml
  sw/simulator/fg.c
  sw/simulator/fg_environment.xml
  sw/simulator/flightModel.ml
  sw/simulator/flightModel.mli
  sw/simulator/gps.ml
  sw/simulator/gps.mli
  sw/simulator/nps/flight_gear.h
  sw/simulator/nps/nps_fdm.h
  sw/simulator/nps/nps_fdm_fixedwing_sim.c
  sw/simulator/nps/nps_flightgear.c
  sw/simulator/pprzsim-launch
  sw/simulator/sim.ml
  sw/simulator/sim.mli
  sw/simulator/simlib.ml
  sw/simulator/simlib.mli
  sw/simulator/simsitl.ml
  sw/simulator/sitl.ml
  sw/simulator/sitl.mli
  sw/supervision/python/session_widget.py
  tests/sim/01_Microjet.t
Labels: Simulation

#3176 [xml] final quadplane xml files rotwing
  conf/airframes/tudelft/rot_wing_25kg.xml
  conf/airframes/tudelft/rot_wing_v3b.xml
  conf/flight_plans/tudelft/rotating_wing_EHVB.xml
  conf/radios/crossfire_sbus.xml
  conf/userconf/tudelft/conf.xml
Labels: Airborne

#3182 [scheduling] harmonize efficiency scheduling modules
  conf/airframes/ENAC/cyfoam.xml
  conf/airframes/tudelft/cyfoam.xml
  conf/airframes/tudelft/rot_wing_25kg.xml
  conf/airframes/tudelft/rot_wing_v3b.xml
  conf/modules/ctrl_effectiveness_scheduling.xml
  conf/modules/eff_scheduling_cyfoam.xml
  conf/modules/eff_scheduling_falcon.xml
  conf/modules/eff_scheduling_generic.xml
  conf/modules/eff_scheduling_rot_wing.xml
  sw/airborne/modules/ctrl/eff_scheduling_cyfoam.c
  sw/airborne/modules/ctrl/eff_scheduling_cyfoam.h
  sw/airborne/modules/ctrl/eff_scheduling_falcon.c
  sw/airborne/modules/ctrl/eff_scheduling_falcon.h
  sw/airborne/modules/ctrl/eff_scheduling_generic.c
  sw/airborne/modules/ctrl/eff_scheduling_generic.h
  sw/airborne/modules/ctrl/eff_scheduling_rot_wing.c
  sw/airborne/modules/ctrl/eff_scheduling_rot_wing.h
Labels: Airborne, Module

#3184 [ins] fix ekf2 status flag when using external vision positionning
  sw/airborne/modules/ins/ins_ekf2.cpp
Labels: Minor, bug

#3186 [supervision] Add log extractor.
  sw/supervision/python/app_settings.py
  sw/supervision/python/conf.py
  sw/supervision/python/generated/resources_rc.py
  sw/supervision/python/generated/ui_app_settings.py
  sw/supervision/python/generated/ui_log_widget.py
  sw/supervision/python/generated/ui_supervision_window.py
  sw/supervision/python/log_widget.py
  sw/supervision/python/paparazzicenter.py
  sw/supervision/python/ui/icons/help.png
  sw/supervision/python/ui/icons/open.png
  sw/supervision/python/ui/icons/undo.png
  sw/supervision/python/ui/resources.qrc
  sw/supervision/python/ui/ui_app_settings.ui
  sw/supervision/python/ui/ui_log_widget.ui
  sw/supervision/python/ui/ui_supervision_window.ui
Labels: Paparazzi Center
