Repository paparazzi/paparazzi, pull requests merged in 2023-09, with the labels that each got.

#3055 [modules] Fix follow me
  conf/modules/follow_me.xml
  conf/userconf/tudelft/conf.xml
  sw/airborne/modules/ctrl/approach_moving_target.c
  sw/airborne/modules/ctrl/follow_me.c
  sw/airborne/modules/ctrl/follow_me.h
  sw/ground_segment/misc/ublox2ivy.c
Labels: Airborne, Module

#3058 [supervision] Fix edit flight plan in GCS.
  conf/tools/flight_plan_editor.xml
  sw/supervision/python/configuration_panel.py
  sw/supervision/python/paparazzicenter.py
  sw/supervision/python/session_widget.py
Labels: Paparazzi Center

#3067 [modules] Approach moving target filter
  conf/airframes/tudelft/nederdrone8.xml
  conf/modules/approach_moving_target.xml
  sw/airborne/modules/ctrl/approach_moving_target.c
  sw/airborne/modules/ctrl/approach_moving_target.h
Labels: Enhancement, Module

#3080 [fix] hanging rm3100
  sw/airborne/peripherals/rm3100.c
Labels: Driver, bug

#3082 [airframes] TU Delft
  conf/airframes/tudelft/nederdrone4.xml
  conf/airframes/tudelft/nederdrone6.xml
  conf/airframes/tudelft/nederdrone7.xml
  conf/airframes/tudelft/nederdrone8.xml
  conf/flight_plans/tudelft/nederdrone_terschelling.xml
  conf/flight_plans/tudelft/nederdrone_valkenburg.xml
  conf/userconf/tudelft/conf.xml
Labels: conf

#3086 [modules] Approach moving target fixes
  conf/airframes/tudelft/nederdrone4.xml
  conf/airframes/tudelft/nederdrone6.xml
  conf/airframes/tudelft/nederdrone7.xml
  conf/airframes/tudelft/nederdrone8.xml
  conf/modules/approach_moving_target.xml
  sw/airborne/modules/ctrl/approach_moving_target.c
  sw/airborne/modules/ctrl/approach_moving_target.h
Labels: Documentation

#2994 v6.2 service release
  README.md
  conf/Makefile.nps
  conf/airframes/tudelft/bebop_course_orangeavoid.xml
  conf/userconf/tudelft/conf.xml
  conf/userconf/tudelft/course_conf.xml
  doc/sphinx/source/installation/index_installation.rst
  doc/sphinx/source/installation/software/index_software.rst
  doc/sphinx/source/quickstart/install.rst
  install.sh
  start.py
  sw/airborne/boards/bebop/mt9f002.c
  sw/airborne/boards/bebop/mt9f002.h
  sw/airborne/modules/computer_vision/lib/encoding/jpeg.c
  sw/airborne/modules/computer_vision/video_capture.c
  sw/supervision/python/session_widget.py
  sw/tools/install.py
Labels: Major, Overdue

#3102 [nav_hybrid] max acceleration and deceleration
  conf/modules/nav_hybrid.xml
  sw/airborne/modules/nav/nav_rotorcraft_hybrid.c
  sw/airborne/modules/nav/nav_rotorcraft_hybrid.h
Labels: Airborne

#3081 Do not kill a quadplane inflight
  sw/airborne/firmwares/rotorcraft/autopilot_firmware.c
  sw/airborne/firmwares/rotorcraft/autopilot_firmware.h
Labels: Rotorcraft and FW convergence, bug

#3103 [fix] adapt object_tracking module to new nav interface
  sw/airborne/modules/ctrl/object_tracking.c
Labels: Airborne, Module, Minor, bug

#3105 [gps] add a timeout on gps fix lost
  sw/airborne/modules/gps/gps.c
  sw/airborne/modules/gps/gps.h
  sw/airborne/modules/gps/gps_ubx.c
Labels: Airborne, Enhancement, Driver, Module

#3106 [ins] register new message and add ins_reset for EKF2
  sw/airborne/modules/ins/ins_ekf2.cpp
Labels: Airborne

#3107 [mission] improvements to mission module
  conf/modules/mission_common.xml
  conf/modules/mission_fw.xml
  conf/modules/mission_rotorcraft.xml
  sw/airborne/modules/mission/mission_common.c
  sw/airborne/modules/mission/mission_fw_nav.c
  sw/airborne/modules/mission/mission_rotorcraft_nav.c
Labels: Airborne, Module

#3109 [mag] type and rotations
  sw/airborne/modules/sensors/mag_ist8310.c
  sw/airborne/modules/sensors/mag_lis3mdl.c
Labels: Airborne, Driver

#3108 [nav] small improvements to rotorcaft nav
  sw/airborne/modules/nav/nav_rotorcraft_base.c
  sw/airborne/modules/nav/nav_rotorcraft_base.h
  sw/airborne/modules/nav/nav_survey_hybrid.c
  sw/airborne/modules/nav/nav_survey_hybrid.h
  sw/airborne/modules/nav/nav_takeoff_and_landing_rotorcraft.c
Labels: Airborne, Rotorcraft

#3113 [fix] rates and attitude sp use the same memory
  sw/airborne/firmwares/rotorcraft/stabilization.c
  sw/airborne/firmwares/rotorcraft/stabilization.h
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_indi.c
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_indi_simple.c
Labels: Airborne, Blocking, bug

#3110 Features for the ground segment
  sw/ground_segment/tmtc/server.ml
  sw/logalizer/log_extract.py
  sw/supervision/python/session_widget.py
Labels: Ground Segment, Paparazzi Center
