Repository paparazzi/paparazzi, pull requests merged in 2023-04, with the labels that each got.

#3023 [ocaml] parse XML file with ExtXml version
  sw/lib/ocaml/airframe.ml
  sw/lib/ocaml/autopilot.ml
  sw/lib/ocaml/flight_plan.ml
  sw/lib/ocaml/module.ml
  sw/lib/ocaml/radio.ml
  sw/lib/ocaml/settings.ml
  sw/lib/ocaml/telemetry.ml
Labels: Ground Segment, Build system

#3021 Survey hybrid
  conf/modules/digital_cam.xml
  conf/modules/digital_cam_i2c.xml
  conf/modules/digital_cam_servo.xml
  conf/modules/digital_cam_shoot_rc.xml
  conf/modules/digital_cam_uart.xml
  conf/modules/digital_cam_video.xml
  conf/modules/nav_survey_hybrid.xml
  sw/airborne/modules/nav/nav_survey_hybrid.c
  sw/airborne/modules/nav/nav_survey_hybrid.h
Labels: Airborne, Module

#3024 Add PyBullet FDM for nps.
  conf/airframes/ENAC/conf_enac.xml
  conf/airframes/ENAC/quadrotor/anton_indi_aruco.xml
  conf/airframes/ENAC/quadrotor/robobee.xml
  conf/airframes/ENAC/quadrotor/ulysse_indi.xml
  conf/modules/fdm_pybullet.xml
  conf/simulator/pybullet/robobee.obj
  conf/simulator/pybullet/robobee.urdf
  sw/airborne/math/pprz_algebra_double.c
  sw/airborne/math/pprz_algebra_double.h
  sw/simulator/nps/nps_fdm_pybullet.c
  sw/simulator/nps/pybullet/requirements.txt
  sw/simulator/nps/pybullet/simple_quad_sim.py
Labels: Simulation

#3025 [nav] fix survey hybrid
  conf/modules/nav_survey_hybrid.xml
  sw/airborne/modules/nav/nav_survey_hybrid.c
Labels: Airborne, bug

#3026 [state] fix speed convert functions
  sw/airborne/state.c
Labels: Airborne, Major, bug
