Repository paparazzi/paparazzi, pull requests merged in 2023-02, with the labels that each got.

#2973 Modules doc
  conf/modules/boards/index.rst
  conf/modules/firmwares/index.rst
  conf/modules/index.rst
  conf/modules/targets/index.rst
  conf/modules/time_countdown.xml
  doc/sphinx/source/conf.py
  doc/sphinx/source/index.rst
  doc/sphinx/source/modules
  sw/tools/modules_doc/modules_parser.py
Labels: Documentation, Module

#2982 [supervision] Do not crash if qtwebkit is not installed.
  sw/supervision/python/conf.py
  sw/supervision/python/doc_panel.py
  sw/supervision/python/paparazzicenter.py
Labels: Paparazzi Center

#2986 Ubuntu22 fixes
  conf/airframes/tudelft/bebop_course_orangeavoid.xml
  conf/userconf/tudelft/conf.xml
  conf/userconf/tudelft/course_conf.xml
  sw/airborne/boards/bebop/mt9f002.c
  sw/airborne/boards/bebop/mt9f002.h
  sw/airborne/modules/computer_vision/lib/encoding/jpeg.c
  sw/airborne/modules/computer_vision/video_capture.c
Labels: Airborne, Blocking

#2983 Supervision small fixes
  sw/supervision/python/paparazzicenter.py
Labels: Paparazzi Center

#2993 [INS_EXT_POSE] Kalman Filter based on external attitude measurements
  conf/modules/ins_ext_pose.xml
  sw/airborne/modules/ins/ins_ext_pose.c
  sw/airborne/modules/ins/ins_ext_pose.h
  sw/airborne/modules/loggers/logger_file.c
Labels: Airborne, Module

#2966 Usb add serial
  conf/modules/telemetry_transparent.xml
  conf/modules/telemetry_transparent_usb.xml
  conf/modules/usb_serial_stm32_example1.xml
  conf/system/udev/rules/50-paparazzi.rules
  sw/airborne/arch/chibios/halconf.h
  sw/airborne/arch/chibios/mcu_arch.h
  sw/airborne/arch/chibios/usb_ser_hw.c
  sw/airborne/boards/lia/chibios/v1.1/mcuconf.h
  sw/airborne/boards/lisa_mx/chibios/v2.1/mcuconf.h
  sw/airborne/boards/lisa_mxs/chibios/v1.0/mcuconf.h
  sw/airborne/mcu.c
  sw/airborne/mcu_periph/usb_serial.h
  sw/airborne/modules/datalink/extra_pprz_dl.h
  sw/airborne/modules/datalink/gec_dl.h
  sw/airborne/modules/datalink/mavlink.h
  sw/airborne/modules/datalink/pprz_dl.h
  sw/airborne/modules/loggers/sdlog_chibios/usbStorage.c
  sw/airborne/modules/loggers/sdlog_chibios/usb_msd.c
Labels: Airborne, Driver

#2997 [plotter] implementing a realtime plotter in python
  conf/tools/real_time_plotter__python_.xml
  sw/ground_segment/python/real_time_plot/messagepicker.py
  sw/ground_segment/python/real_time_plot/plotframe.py
  sw/ground_segment/python/real_time_plot/plotpanel.py
  sw/ground_segment/python/real_time_plot/realtimeplotapp.py
  sw/ground_segment/python/real_time_plot/textdroptarget.py
  sw/logalizer/requirements.txt
  sw/logalizer/rt_plotter.py
  sw/logalizer/rt_plotter.ui
  sw/logalizer/ui_rt_plotter.py
Labels: Ground Segment

#3003 fix state update equation
  sw/airborne/modules/ins/vf_extended_float.c
Labels: Airborne, bug

#3000 PPM input GPS input and Telem full all working now
  conf/airframes/OPENUAS/openuas_wltech_xk_a160.xml
  conf/telemetry/OPENUAS/openuas_fixedwing_imu_rc.xml
  sw/airborne/boards/lisa_mxs/chibios/v1.0/board.h
  sw/airborne/boards/lisa_mxs/chibios/v1.0/mcuconf.h
Labels: Airborne, Minor, ChibiOS, conf, PleaseReviewAndClosePullRequest, board config

#3002 Supervision improvements
  sw/supervision/python/app_settings.py
  sw/supervision/python/build_widget.py
  sw/supervision/python/conf_file_widget.py
  sw/supervision/python/conf_widget.py
  sw/supervision/python/configuration_panel.py
  sw/supervision/python/generated/ui_app_settings.py
  sw/supervision/python/generated/ui_build.py
  sw/supervision/python/generated/ui_conf_header.py
  sw/supervision/python/program_widget.py
  sw/supervision/python/ui/ui_app_settings.ui
  sw/supervision/python/ui/ui_build.ui
  sw/supervision/python/ui/ui_conf_header.ui
Labels: Paparazzi Center
