Repository paparazzi/paparazzi, pull requests merged in 2023-03, with the labels that each got.

#3004 Fix nav rework
  conf/airframes/BR/conf.xml
  conf/airframes/CDW/cdw_conf.xml
  conf/flight_plans/ENAC/crazyflie_multi_ranger_test.xml
  conf/flight_plans/ENAC/demo_aruco_drop_indoor.xml
  conf/flight_plans/ENAC/fish_outdoor.xml
  conf/flight_plans/ENAC/fish_voliere.xml
  conf/flight_plans/HOOPERFLY/hooperfly_gsa_one.xml
  conf/flight_plans/HOOPERFLY/hooperfly_rotorcraft_multiflight.xml
  conf/flight_plans/rotorcraft_basic_safety.xml
  conf/flight_plans/tudelft/include_rotorcraft_survey_mission.xml
  conf/flight_plans/tudelft/nederdrone_terschelling.xml
  conf/flight_plans/tudelft/nederdrone_troia.xml
  conf/settings/control/rotorcraft_guidance.xml
  sw/airborne/firmwares/rotorcraft/guidance/guidance_h.c
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_attitude.h
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_attitude_euler_float.c
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_attitude_euler_int.c
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_attitude_heli_indi.c
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_attitude_passthrough.c
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_attitude_quat_float.c
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_attitude_quat_indi.c
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_attitude_quat_int.c
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_indi.c
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_indi.h
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_indi_simple.c
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_indi_simple.h
  sw/airborne/modules/cam_control/rotorcraft_cam.c
  sw/airborne/modules/ctrl/approach_moving_target.c
  sw/airborne/modules/ctrl/object_tracking.c
  sw/airborne/modules/guidance/gvf/gvf_low_level_control.h
  sw/airborne/modules/guidance/gvf_parametric/gvf_parametric.cpp
  sw/airborne/modules/mav_course_exercise/mav_exercise.c
  sw/airborne/modules/orange_avoider/orange_avoider.c
  sw/airborne/modules/stereocam/droplet/stereocam_droplet.c
  sw/airborne/modules/stereocam/nav_line_avoid/avoid_navigation.c
  sw/airborne/modules/stereocam/stereocam_follow_me/follow_me.c
  sw/lib/ocaml/fp_proc.ml
Labels: bug

#3001 [board] basic support of matek h743 slim
  conf/airframes/examples/matek_h743_slim.xml
  conf/boards/matek_h743_slim.makefile
  conf/flash_modes.xml
  conf/modules/boards/matek_h743_slim.xml
  conf/modules/imu_matek_h743_slim.xml
  sw/airborne/arch/chibios/STM32H743xI_no_bl.ld
  sw/airborne/arch/chibios/common_board.h
  sw/airborne/arch/chibios/mcu_periph/sys_time_arch.c
  sw/airborne/arch/chibios/mcu_periph/sys_time_arch.h
  sw/airborne/arch/chibios/mcu_periph/uart_arch.c
  sw/airborne/arch/chibios/modules/core/rtos_mon_arch.c
  sw/airborne/boards/mateksys/FC-H743-SLIM/board.cfg
  sw/airborne/boards/mateksys/FC-H743-SLIM/board.h
  sw/airborne/boards/mateksys/FC-H743-SLIM/mcuconf.h
  sw/tools/px4/matek_h743_slim.prototype
  sw/tools/px4/print_message.py
  sw/tools/px4/px_mkfw.py
  sw/tools/px4/set_target.py
Labels: ChibiOS, board config

#3006 Fix small errors
  conf/modules/stabilization_float_euler.xml
  conf/modules/stabilization_float_quat.xml
  conf/modules/stabilization_heli_indi.xml
  conf/modules/stabilization_indi.xml
  conf/modules/stabilization_indi_simple.xml
  conf/modules/stabilization_int_euler.xml
  conf/modules/stabilization_int_quat.xml
  conf/modules/stabilization_passthrough.xml
  conf/modules/stabilization_rotorcraft.xml
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_attitude_euler_float.c
  sw/airborne/modules/guidance/gvf/gvf_low_level_control.h
  sw/airborne/modules/guidance/gvf_parametric/gvf_parametric.cpp
Labels: bug

#3007 [boards] Fix cube orange default GPS uart
  conf/boards/cube_orange.makefile
Labels: board config

#3009 [fix] fix dep solver to recursively check suggested module
  conf/modules/ins_nps.xml
  conf/modules/targets/ap.xml
  conf/modules/targets/nps.xml
  sw/lib/ocaml/aircraft.ml
Labels: Build system

#3011 Setup semaphore 2.0
  .semaphore/night-build.yml
  .semaphore/semaphore.yml
Labels: Build system

#3010 [nav] takeoff and land module
  conf/flight_plans/fixedwing_demo_takeoff_land.xml
  conf/flight_plans/rotorcraft_demo_takeoff_land.xml
  conf/modules/ins_sim.xml
  conf/modules/nav_takeoff_and_landing.xml
  conf/modules/targets/sim.xml
  sw/airborne/firmwares/fixedwing/nav.c
  sw/airborne/firmwares/fixedwing/nav.h
  sw/airborne/firmwares/rotorcraft/navigation.c
  sw/airborne/firmwares/rotorcraft/navigation.h
  sw/airborne/modules/nav/nav_rotorcraft_base.c
  sw/airborne/modules/nav/nav_takeoff_and_landing.h
  sw/airborne/modules/nav/nav_takeoff_and_landing_fw.c
  sw/airborne/modules/nav/nav_takeoff_and_landing_rotorcraft.c
  sw/airborne/modules/nav/waypoints.c
  sw/airborne/modules/nav/waypoints.h
Labels: Airborne, Rotorcraft, Module, Fixedwing

#3012 [fix] update generated rotorcraft autopilot for new guidance
  conf/autopilot/rotorcraft_autopilot.xml
  sw/airborne/firmwares/rotorcraft/guidance/guidance_v.c
  sw/airborne/firmwares/rotorcraft/guidance/guidance_v.h
Labels: Airborne, Rotorcraft, bug

#3014 [supervision] Add programs status.
  sw/supervision/python/configuration_panel.py
  sw/supervision/python/error.svg
  sw/supervision/python/paparazzicenter.py
  sw/supervision/python/program_widget.py
  sw/supervision/python/running.svg
  sw/supervision/python/session_widget.py
Labels: Paparazzi Center

#3018 [fix] apply correctly horizontal and vertical setpoints
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi.c
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi.h
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi_hybrid.c
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi_hybrid.h
Labels: Airborne, Major, bug

#3015 [chibios] Small fixes
  conf/Makefile.chibios
  sw/airborne/mcu_periph/usb_serial.h
  sw/airborne/modules/loggers/sdlog_chibios.c
  sw/airborne/modules/loggers/sdlog_chibios/sdLog.c
  sw/tools/px4/px_uploader.py
  sw/tools/px4/set_target.py
Labels: ChibiOS
