Repository paparazzi/paparazzi, pull requests merged in 2023-08, with the labels that each got.

#3048 Feetch servo
  conf/modules/actuators_sts3032.xml
  sw/airborne/modules/actuators/actuators_sts3032.c
  sw/airborne/modules/actuators/actuators_sts3032.h
  sw/airborne/peripherals/sts3032_regs.h
Labels: Airborne, Driver

#3046 [chibios] Fix ADC reading sample rate error on H7
  sw/airborne/arch/chibios/mcu_periph/adc_arch.c
Labels: ChibiOS, bug

#3051 Fix payload command
  sw/airborne/modules/digital_cam/dc.c
Labels: Airborne, bug

#3052 Set speed without ref
  conf/airframes/tudelft/cyfoam.xml
  conf/airframes/tudelft/nederdrone4.xml
  conf/airframes/tudelft/nederdrone4_tem.xml
  conf/airframes/tudelft/nederdrone5.xml
  conf/airframes/tudelft/nederdrone6.xml
  conf/airframes/tudelft/nederdrone7.xml
  conf/airframes/tudelft/nederdrone8.xml
  sw/airborne/firmwares/rotorcraft/guidance/guidance_h.c
Labels: Airborne, Rotorcraft
