Repository paparazzi/paparazzi, pull requests merged in 2024-10, with the labels that each got.

#3365 Update ground detect
  conf/airframes/tudelft/rotwing5.xml
  conf/airframes/tudelft/rotwing6.xml
  conf/airframes/tudelft/rotwing_v3b.xml
  conf/airframes/tudelft/rotwing_v3c_oneloop.xml
  conf/airframes/tudelft/rotwing_v3c_oneloop_optitrack.xml
  conf/airframes/tudelft/rotwing_v3c_oneloop_optitrack_ext_pose.xml
  conf/airframes/tudelft/rotwing_v3c_oneloop_simulation.xml
  conf/airframes/tudelft/rotwing_v3d.xml
  conf/airframes/tudelft/rotwing_v3e.xml
  conf/airframes/tudelft/rotwing_v3f.xml
  conf/airframes/tudelft/rotwing_v3g.xml
  conf/airframes/tudelft/rotwing_v3h.xml
  conf/modules/ground_detect.xml
  conf/modules/ground_detect_sensor.xml
  sw/airborne/modules/nav/ground_detect.c
  sw/airborne/modules/nav/ground_detect.h
  sw/airborne/modules/nav/ground_detect_sensor.c
Labels: Airborne, Module

#3380 Fix airframes in master
  conf/airframes/tudelft/rotwing5.xml
  conf/modules/rotwing_automation.xml
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_indi.h
  sw/airborne/modules/ctrl/eff_scheduling_nederdrone.c
Labels: bug

#3385 [flight plan] add on_enter and on_exit functions for nav blocks
  conf/flight_plans/flight_plan.dtd
  sw/airborne/firmwares/fixedwing/nav.c
  sw/airborne/firmwares/rotorcraft/navigation.c
  sw/airborne/firmwares/rover/navigation.c
  sw/airborne/modules/com/generic_com.c
  sw/airborne/modules/datalink/missionlib/mission_manager.c
  sw/airborne/modules/nav/common_flight_plan.c
  sw/airborne/modules/nav/common_flight_plan.h
  sw/tools/generators/gen_flight_plan.ml
Labels: Enhancement, Flight Plan

#3387 [flight plan] add a max_speed attribute to fp instruction
  conf/flight_plans/flight_plan.dtd
  doc/sphinx/source/user_guide/flight_plans.rst
  sw/airborne/firmwares/fixedwing/nav.h
  sw/airborne/firmwares/rotorcraft/guidance/guidance_h.c
  sw/airborne/firmwares/rotorcraft/navigation.c
  sw/airborne/firmwares/rotorcraft/navigation.h
  sw/airborne/firmwares/rover/navigation.h
  sw/tools/generators/gen_flight_plan.ml
Labels: Airborne, Enhancement, Flight Plan
