Repository paparazzi/paparazzi, pull requests merged in 2024-11, with the labels that each got.

#3407 Fix the use of INDI_ALLOCATION_PSEUDO_INVERSE
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_indi.c
Labels: Airborne, bug

#3408 [sonar] protect sonar reading by mutex for bebop
  conf/airframes/test_boards/disco.xml
  conf/modules/sonar_bebop.xml
  sw/airborne/modules/sonar/sonar_bebop.c
  sw/airborne/modules/sonar/sonar_bebop.h
  sw/simulator/nps/nps_fdm_fixedwing_sim.c
  sw/simulator/nps/nps_sensor_sonar.c
Labels: Airborne, Driver, bug

#3414 [module] fix tests of baro bmp280 module
  conf/modules/baro_bmp280.xml
Labels: Module, bug

#3411 Add new shell commands (sys_time and imu)
  sw/airborne/mcu_periph/sys_time.c
  sw/airborne/modules/imu/imu.c
Labels: Airborne
