Repository paparazzi/paparazzi, pull requests merged in 2024-06, with the labels that each got.

#3286 [supervision] remove VT100 escape codes.
  sw/supervision/python/console_widget.py
Labels: Paparazzi Center

#3288 update ws2812 led module dma strcuture
  sw/airborne/arch/chibios/modules/light/light_ws2812_arch.c
Labels: Airborne, Driver, ChibiOS

#3290 [ocaml] use glib from gtk3 if gtk2 is not found
  sw/Makefile.ocaml
  sw/ground_segment/cockpit/Makefile
  sw/ground_segment/cockpit/lib/Makefile
  sw/ground_segment/joystick/Makefile
  sw/ground_segment/misc/Makefile
  sw/ground_segment/tmtc/Makefile
  sw/ground_segment/tmtc/c_ivy_client_example_3.c
  sw/ground_segment/tmtc/ivy_serial_bridge.c
  sw/lib/ocaml/META.pprz
  sw/lib/ocaml/Makefile
  sw/logalizer/Makefile
  sw/simulator/Makefile
  sw/supervision/Makefile
Labels: Ground Segment, Build system

#3297 [indi] fix thrust filtering after #3248
  sw/airborne/firmwares/rotorcraft/guidance/guidance_indi.c
Labels: Major, bug

#3296 Fix collection errors from ci
  conf/airframes/tudelft/bebop_flip.xml
  conf/chibios/chibios_rules.mk
  conf/userconf/tudelft/conf.xml
  sw/airborne/firmwares/rotorcraft/guidance/guidance_hybrid.c
  sw/airborne/firmwares/rotorcraft/guidance/guidance_hybrid.h
  sw/ground_segment/python/natnet3.x/natnet2ivy.py
Labels: Minor, bug

#3308 [autopilot] send AP status at every changes
  sw/airborne/autopilot.c
  sw/airborne/firmwares/fixedwing/autopilot_static.c
  sw/airborne/firmwares/rotorcraft/autopilot_firmware.c
Labels: Airborne

#3312 Fixes for master: prevent falling over on simulation start and fix 2nd order filter
  conf/simulator/jsbsim/aircraft/rotwing25.xml
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_indi.c
Labels: Blocking

#3315 PFC struct to field
  conf/airframes/tudelft/rot_wing_v3b.xml
  conf/airframes/tudelft/rot_wing_v3d.xml
  conf/airframes/tudelft/rot_wing_v3e.xml
  conf/airframes/tudelft/rot_wing_v3f.xml
  conf/airframes/tudelft/rot_wing_v3g.xml
  conf/airframes/tudelft/rot_wing_v3h.xml
Labels: Refactoring

#3317 [autopilot] fix warning on mode changed after #3308
  sw/airborne/firmwares/fixedwing/autopilot_static.c
Labels: Airborne

#3309 [stabilization] fix reporting of attitude setpoint in hybrid mode
  conf/telemetry/default_rotorcraft.xml
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_indi.c
Labels: Airborne
