Repository paparazzi/paparazzi, pull requests merged in 2025-08, with the labels that each got.

#3521 Fix MilliAmpereOfAdc to DefaultMilliAmpereOfAdc in remaining boardfiles
  sw/airborne/boards/crazybee_f4_1.0.h
  sw/airborne/boards/px4fmu/chibios/v4.0/px4fmu.h
  sw/airborne/boards/px4fmu_2.4.h
Labels: Minor, board config

#3492 [natnet] use scipy rotation module instead of pyquaternion
  sw/ground_segment/python/natnet3.x/natnet2ivy.py
Labels: Ground Segment

#3527 [doc] fix uplink and dowlink class names
  doc/sphinx/source/developer_guide/PPRZ_System_architecture.png
Labels: Documentation

#3531 Added PWM input option to FMU4 e.g. Pixracer FC
  sw/airborne/boards/px4fmu/chibios/v4.0/board.h
  sw/airborne/boards/px4fmu/chibios/v4.0/mcuconf_board.h
  sw/airborne/boards/px4fmu/chibios/v4.0/px4fmu.h
Labels: Airborne, Enhancement, Not a defect, board config
