Repository paparazzi/paparazzi, pull requests merged in 2025-06, with the labels that each got.

#3462 [nav] add an option for takeoff height
  conf/flight_plans/fixedwing_demo_takeoff_land.xml
  conf/flight_plans/rotorcraft_demo_takeoff_land.xml
  sw/airborne/modules/nav/nav_takeoff_and_landing.h
  sw/airborne/modules/nav/nav_takeoff_and_landing_fw.c
  sw/airborne/modules/nav/nav_takeoff_and_landing_rotorcraft.c
Labels: Airborne, Module

#3463 [mission] add an option to skip the first GOTO in mission PATH
  sw/airborne/modules/mission/mission_rotorcraft_nav.c
Labels: Airborne, Module

#3467 Fix the warning for MilliAmpereOfAdc(adc) re-defined FMU5
  sw/airborne/boards/px4fmu/chibios/v5.0/board.cfg
  sw/airborne/boards/px4fmu/chibios/v5.0/board.h
Labels: Minor, bug

#3468 [build] fix compilation warnings and remove unused code
  sw/ground_segment/tmtc/150m.ml
  sw/ground_segment/tmtc/Makefile
  sw/ground_segment/tmtc/app_server.c
  sw/ground_segment/tmtc/broadcaster.ml
  sw/ground_segment/tmtc/modem.ml
  sw/ground_segment/tmtc/modem.mli
  sw/lib/ocaml/Makefile
  sw/lib/ocaml/base64.ml
  sw/lib/ocaml/base64.mli
  sw/lib/ocaml/cserial.c
Labels: Build system

#3471 Threads I2C and SPI
  conf/modules/encoder_amt22.xml
  conf/modules/humid_sht_i2c.xml
  sw/airborne/arch/chibios/mcu_periph/i2c_arch.c
  sw/airborne/arch/chibios/mcu_periph/spi_arch.c
  sw/airborne/arch/chibios/modules/core/threads_arch.c
  sw/airborne/arch/linux/mcu_periph/i2c_arch.c
  sw/airborne/arch/linux/modules/core/threads_arch.c
  sw/airborne/arch/stm32/modules/core/threads_arch.c
  sw/airborne/boards/bebop/actuators.c
  sw/airborne/boards/bebop/mt9f002.c
  sw/airborne/boards/bebop/mt9v117.c
  sw/airborne/boards/disco/actuators.c
  sw/airborne/mcu_periph/i2c.c
  sw/airborne/mcu_periph/i2c.h
  sw/airborne/mcu_periph/spi.c
  sw/airborne/mcu_periph/spi.h
  sw/airborne/modules/core/threads.h
  sw/airborne/modules/meteo/humid_sht_i2c.c
  sw/airborne/modules/meteo/humid_sht_i2c.h
  sw/airborne/modules/sensors/encoder_amt22.c
  sw/airborne/modules/sensors/encoder_amt22.h
  sw/airborne/peripherals/amt22.c
  sw/airborne/peripherals/amt22.h
  sw/airborne/peripherals/pca95xx.c
  sw/airborne/peripherals/vl53l1_platform.c
Labels: Airborne, Driver

#3464 [hybrid] add basic support for Heewing T1 Ranger VTOL
  conf/airframes/ENAC/hybrid/ranger_1.xml
  conf/autopilot/heewing_vtol.xml
  conf/modules/control_mixing_heewing.xml
  conf/modules/guidance_plane_pid_rotorcraft.xml
  conf/modules/stabilization_plane_pid.xml
  conf/simulator/jsbsim/aircraft/Systems/aerodynamics_ranger_t1.xml
  conf/simulator/jsbsim/aircraft/ranger_t1.xml
  sw/airborne/firmwares/rotorcraft/guidance/guidance_plane.c
  sw/airborne/firmwares/rotorcraft/guidance/guidance_plane.h
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_attitude_plane_pid.c
  sw/airborne/firmwares/rotorcraft/stabilization/stabilization_attitude_plane_pid.h
  sw/airborne/modules/ctrl/control_mixing_heewing.c
  sw/airborne/modules/ctrl/control_mixing_heewing.h
Labels: Airborne, conf

#3484 Segmentation Fault: NULL->llh
  sw/airborne/modules/datalink/mavlink.c
Labels: bug

#3491 [uart] use buffer write function for ChibiOS uart driver
  sw/airborne/arch/chibios/mcu_periph/uart_arch.c
Labels: Airborne, Driver, ChibiOS
