Repository paparazzi/paparazzi, pull requests merged in 2025-02, with the labels that each got.

#3425 [autopilot] call the set_mode function at startup
  sw/airborne/firmwares/fixedwing/autopilot_generated.c
  sw/airborne/firmwares/rotorcraft/autopilot_generated.c
  sw/airborne/firmwares/rover/autopilot_generated.c
  sw/tools/generators/gen_autopilot.ml
Labels: Airborne, bug

#3426 [UART & I2C] factorize error telemetry functions.
  conf/modules/i2c.xml
  sw/airborne/mcu_periph/i2c.c
  sw/airborne/mcu_periph/uart.c
Labels: Airborne

#3423 Threads abstraction
  conf/modules/system_core.xml
  conf/modules/thd_test.xml
  conf/modules/threads.xml
  sw/airborne/arch/chibios/modules/core/threads_arch.c
  sw/airborne/arch/chibios/modules/core/threads_arch.h
  sw/airborne/arch/linux/modules/core/threads_arch.c
  sw/airborne/arch/linux/modules/core/threads_arch.h
  sw/airborne/arch/sim/modules/core/threads_arch.c
  sw/airborne/arch/sim/modules/core/threads_arch.h
  sw/airborne/arch/stm32/modules/core/threads_arch.c
  sw/airborne/arch/stm32/modules/core/threads_arch.h
  sw/airborne/modules/cam_control/point.c
  sw/airborne/modules/core/threads.h
  sw/airborne/modules/datalink/bitcraze/syslink_dl.c
  sw/airborne/modules/datalink/gec_dl.c
  sw/airborne/modules/datalink/gec_dl.h
  sw/airborne/modules/mission/copilot.h
  sw/airborne/modules/mission/copilot_common.c
  sw/airborne/modules/sensors/thd_test.c
  sw/airborne/modules/sensors/thd_test.h
  sw/airborne/pprz_mutex.h
  tests/modules/test_arch/modules/core/threads_arch.h
Labels: Airborne, Firmware

#3431 [Flightplan lib] Retrieve flight plan over http if needed.
  sw/lib/python/flight_plan.py
Labels: Ground Segment

#3432 [autopilot] fix parsing of modules in generated AP files
  sw/lib/ocaml/autopilot.ml
  sw/tools/generators/gen_autopilot.ml
Labels: Build system, bug

#3433 SLCAN bridge
  conf/modules/slcan.xml
  sw/airborne/modules/core/slcan.c
  sw/airborne/modules/core/slcan.h
Labels: Airborne, Enhancement, Driver

#3434 [state] fix bug when checking if airspeed is valid
  sw/airborne/state.h
  sw/simulator/nps/nps_autopilot_rotorcraft.c
Labels: Airborne, bug
